<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Clinica Rivas</title>
        <link rel="stylesheet" href="css/style.css">  


<!-- Estilo login -->
 <style type="text/css">

 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 460px;
  margin: auto;
}
.form {
    position: relative;
    border-radius: 5px;
    max-width: 460px;
    width: 150%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input,.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: transparent;
  border: 3px solid white;
  color: white;
  width: 100%;
  margin: 0 0 35px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}
.form option{
  color:gray;
}
.form  input::-webkit-input-placeholder {
  color: white;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #EA077C;
  font-size: 20px;
  font-weight: bolder;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #A7196D;
  color:white;
}
.form  h1{
  color: white;
  font-weight: bold;
  margin-bottom: 45px;
}
.form .message {
  margin: 15px 0 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.form .message a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  transition: font-size 1.8s;
}
.form .message a:hover{
  font-size: 16px;
}
.form .register-form {
  display: none;
}
.form img{
  width: 55%;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #EA077C;   
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-animation-name: coloresFondo;
  -webkit-animation-duration: 8s;
  animation-name: coloresFondo;
  animation-duration: 8s;
  animation-iteration-count: infinite;  
}
@keyframes coloresFondo {
    0%   {background-color: #EA077C;}
    25%  {background-color: #EB2424;}
    49%  {background-color: #A7196D;}
    73%   {background-color: navy;}
    98%   {background-color: #EA077C;}
}
 </style>   
  </head>

  <body>
    <aside class="right-side sidebar-offcanvas" >
        <ng-include src="'partials/includes/sidedownload.html'" ></ng-include>
    </aside> 

  <div class="login-page">
    <div class="form">
      <!-- <img src="img/logo.png"> -->
      <img style="width:100% !important;" src="img/logo_amarillo.png"> 
      <form ng-submit="register()" class="register-form">
        <h1>Regístrate</h1>
        <input type="text" ng-model="usuario.nombre" placeholder="Nombre completo" required/>
        <input type="text" ng-model="usuario.nombre_usuario"  placeholder="Nombre de usuario" required/>
        <input type="password" ng-model="usuario.password" placeholder="Contraseña" required/>
        <input type="email" ng-model="usuario.email" placeholder="Email" required/>
        <select ng-model="usuario.tipoid" ng-options="tipoID as tipoID.nombre for tipoID in listaTipoID track by tipoID.nombre" required>
        </select>
        <input type="number" ng-model="usuario.identificacion" placeholder="Número Identificación" required/>
        <button>Crear</button>
        <p class="message">Ya te encuentras registrado? <a href="#">Iniciar Sesión</a></p>
      </form>
      <form ng-submit="signin()" class="login-form">
        <h1>Ingresar</h1>
        <input type="text" ng-model="usuario.username" placeholder="Nombre de Usuario"/>
        <input type="password" ng-model="usuario.password" placeholder="Contraseña"/>
        <a href="index.html"><button>Entrar</button></a>
        <p class="message">No estás registrado? <a href="#">Crea una Cuenta</a></p>
      </form>
    </div>
  </div>


  <script src="js/index.js"></script>
          
  <!-- javascript login -->
  <script type="text/javascript">

  $('.message a').click(function(){
     $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });

  </script> 

  </body>
</html>