<section  class="modulos_sections modulo_usuario" ng-controller="usuariosCtrl" align="center">
  <div class="row" align="center">
    <div class="col-md-9"><h1 class="titulo titulo_principal">Usuario registrados</h1></div>
    <div class="col-md-3"><h3 class="titulo">Buscar Usuario <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Usuario" ><i class="fa fa-search" aria-hidden="true"></i></button></h3></div>
  </div>
  <form class="formulario_registro" align="center" ng-show="divUsuario" ng-submit="actualizar_usuario()">
    <div class="row" align="center">
      <div class="col-md-6 form_izq">
      <h4 class="titulo_formulario">Datos del Usuario</h4>  
        <div align="right">Nombre completo<input type="text" class="entrada_nacimiento" value="{{usuario.nombre}}" disabled><br></div>
        <div align="right">Nombre usuario<input type="text" class="entrada_nacimiento" value="{{usuario.nombre_usuario}}" disabled><br></div>
        <div align="right">Tipo Identificación<input type="text" class="entrada_nacimiento" value="{{usuario.tipoid.nombre}}" disabled><br></div>
        <div align="right">Identificación<input type="text" class="entrada_nacimiento" value="{{usuario.identificacion}}" disabled><br></div>
        <div align="right">Correo electrónico<input type="text" class="entrada_nacimiento" value="{{usuario.email}}" disabled><br></div>
        <div align="right">Estado Habilitación<input type="text" class="entrada_nacimiento" value="{{usuario.habilitado}}" disabled><br></div>
        <div align="right">Perfil<input type="text" class="entrada_nacimiento" value="{{usuario.perfil}}" disabled><br></div>      
      </div>
      <div class="col-md-6 form_der">
        <h4 class="titulo_formulario">Acciones</h4>
        <div align="right">
          Habilitar/Deshabilitar<select type="boolean" class="entrada_historia" ng-model="habilitado" required>
            <option value="true" selected>Habilitado</option>
            <option value="false">Deshabilitado</option>
          </select><br>
          Perfil<select class="entrada_historia" ng-model="perfil" required>
            <option value="ESPE" selected>Especialista</option>
            <option value="USER">Usuario</option>
            <option value="ADMIN">Administrador</option>
          </select><br>
        </div>
      </div>
    </div>
    <input type="submit" class="boton_envio" value="Guardar cambios" ng-show="divUsuario">
    <input type="submit" class="boton_cancelar" value="Cancelar" ng-show="divUsuario">
  </form>
  <div ng-hide="divUsuario" class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-2">Nombre usuario</div>
          <div class="col-md-2">Identificación</div>
          <div class="col-md-2">Email</div>         
          <div class="col-md-2">Perfil</div>
          <div class="col-md-1" align="center">Habilitado</div>
      </div>
      <div class="row fila_usuarios" ng-repeat="usuario in listUsuarios">    
            <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
            <div class="col-md-2">{{usuario.nombre_usuario}}</div>
            <div class="col-md-2">{{usuario.identificacion}}</div>
            <div class="col-md-2">{{usuario.email}}</div>            
            <div class="col-md-2">
              <div ng-if = "usuario.perfil == 'ADMIN'">Administrador</div>
              <div ng-if = "usuario.perfil == 'ESPE'">Especialista</div>
              <div ng-if = "usuario.perfil == 'USER'">Usuario</div>
            </div>
        <div ng-if = "usuario.perfil != 'ADMIN'"> 
            <div class="col-md-1 boton_habilitar" align="center" ng-click="habilitar(usuario)">
              <div ng-if = "usuario.habilitado">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div ng-if = "!usuario.habilitado">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>

<!--Modal de cosulta-->
<div class="modal fade" id="Modal_Usuario" role="dialog" align="left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;padding:0;" class="modal-title titulo">Busca un Usuario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="get_usuario()">
                <div class="form-group">
                  <label for="profesor">Identificación</label>
                  <input name="titulo"  ng-model="identificacion" type="number" class="form-control" id="titulo" placeholder="Número de identificación" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Consultar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>
</section>

