<!--Seccion de informacion-->
<div ng-controller="alertasCtrl" ng-hide="ocultar" class="ng-hide">
<section class="modulos_sections modulo_sesiones" align="center" ng-controller="alertasCtrl">
<h1 class="titulo" style="margin:40px 0;font-size:43px;">Registro de Alertas</h1>
  <div class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3" align="center">Nombre</div>
          <div class="col-md-3" align="center">Identificación</div>
          <div class="col-md-2" align="center">Tipo Alerta</div>
          <div class="col-md-2" align="center">Fecha</div>
          <div class="col-md-2" align="center">Eliminar</div> 
      </div>
      <div  ng-repeat="alerta in alertas">
      <div class="row fila_usuarios fila_usuarios_sesiones"> 
          <div class="col-md-3" align="center" style="padding-left: 15px;">{{alerta.usuario}}</div>
          <div class="col-md-3" align="center">{{alerta.doc_usuario}}</div>
          <div class="col-md-2" align="center">{{alerta.tipo_alerta}}</div> 
          <div class="col-md-2" align="center">{{alerta.fecha  | date:"MM/dd/yyyy ' ' h:mma"}}</div>
          <div class="col-md-2" align="center"><button class="close" style="float: initial !important;" ng-click="eliminar_alertas(alerta)" aria-label="close">&times;</button></div>
      </div>
      </div>
    </div>
  </div> 
</section>
</div>