<section class="modulos_sections modulo_sesiones modulos_sections_resultados" ng-controller="puntajesCtrl">

<!-- Titulos iniciales  ng-click="obtener_puntajes_completos()"  -->
<div class="row" align="center">
    <div class="col-md-8"><h1 class="titulo titulo_principal">Puntajes de las actividades <button class="btn btn-primary addCategoria" type="button" ng-csv="obtener_puntajes_completos()" field-separator=";" decimal-separator="." filename="puntajes_usuarios.csv"><i class="fa fa-download" aria-hidden="true" style="font-size: 2em;"></i></button>
    <!--<button class="btn btn-primary addCategoria" type="button" ng-click="obtener_puntajes_completos()" style="background:red"><i class="fa fa-download" aria-hidden="true" style="font-size: 2em;"></i></button>-->
    </h1></div>
    <div class="col-md-4" ng-show="!divConsulta && divEspecialista" ><h3 class="titulo">Consultar puntajes usuario <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#ModalPuntajes"><i class="fa fa-search" aria-hidden="true"></i></button></h3></div>
    <div class="col-md-4" ng-show="false"><h3 class="titulo">Crear puntajes usuario <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#ModalCrearPuntajes"><i class="fa fa-search" aria-hidden="true"></i></button></h3></div>
    <div class="col-md-4" ng-show="divConsulta && divEspecialista" style="margin-top:7px"><h4 class="titulo"><button type="button" class="btn btn-primary addCategoria" ng-click="regresar_usuario()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button> {{currentUser.nombre}}</h4></div>
  </div>          
<p ng-hide="divConsulta">Selecciona a un paciente para consultar sus resultados</p>

<!-- Tabla de usuarios -->
<div ng-hide="divConsulta" class="divTabla"> 
  <div class="tabla_usuarios">
    <div class="row nombre_columnas">
      <div class="col-md-3">Nombre</div>
      <div class="col-md-2">Nombre usuario</div>
      <div class="col-md-2">Identificación</div>
      <div class="col-md-2">Email</div>
      <div class="col-md-1">Habilitado</div>
      <div class="col-md-2" align="center">Ver Calificaciones</div>
    </div>
    <div class="row fila_usuarios" ng-repeat="usuario in listUsuarios">
      <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
      <div class="col-md-2">{{usuario.nombre_usuario}}</div>
      <div class="col-md-2">{{usuario.identificacion}}</div>
      <div class="col-md-2">{{usuario.email}}</div>
      <div class="col-md-1">
        <div ng-if = "usuario.habilitado">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div ng-if = "!usuario.habilitado">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>            
      <div class="col-md-2 boton_editar_historia" align="center" ng-click="ver_puntajes(usuario)"><p><i class="fa fa-line-chart fa-lg" aria-hidden="true"></i></p></div>
    </div>
  </div> 
</div>

<!--Modal de cosulta-->
<div class="modal fade" id="ModalPuntajes" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;" class="modal-title titulo">Consulta los Puntajes de un Usuario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="get_usuario()">
                <div class="form-group">
                  <label for="profesor">Identificación</label>
                  <input name="titulo"  ng-model="identificacion" type="number" class="form-control" id="titulo" placeholder="Número de identificación" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Consultar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Informacion usuario consultado -->
<div class="informacion_resultados_modulo" align="center" ng-show="divConsulta">
    <h1 class="titulo">Resultados de actividades</h1>
  <div class="row " align="center">
    <div class="col-md-6" align="left">
      <canvas tc-chartjs-polararea chart-data="data_general" chart-options="options" style="width=100% !important;height:auto !important;font-size:20px !important;"></canvas>
    </div>
    <div class="col-md-6 informacion_usuario" align="left">  
      <!-- <h1>{{usuarioCurrent.nombre}}</h1>
      <h2>{{usuarioCurrent.nombre_usuario}}</h2>
      <h2>{{usuarioCurrent.identificacion}}</h2>
      <h3>{{usuarioCurrent.fecha | date: "dd/MM/yyyy"}}</h3> -->
      <h1>{{currentUser.nombre}}</h1>
      <h2>{{currentUser.nombre_usuario}}</h2>
      <h2>{{currentUser.identificacion}}</h2>
      <h3>{{currentUser.fecha | date: "dd/MM/yyyy"}}</h3>

    </div>
  </div>
</div>

<!-- Habilidades auditivas -->
<div class="row habilidades_puntajes" ng-show="divConsulta">
  <div class="col-md-2 habilidades" id="modulos"  ng-repeat="habilidad in listaHabilidades" ng-click="habilidad_seleccionada(habilidad)">
    <div class="row">
      <div class="col-md-2" style="margin-right: -15px;">
        <img id="iconos_negros_puntaje" src="iconos/habilidades/negros/{{$index + 1}}-negro.png">
        <img id="iconos_blancos_puntaje" src="iconos/habilidades/blancos/{{$index + 1}}-blanco.png">
      </div>
      <div class="col-md-10">
        {{habilidad.Nombre}}
      </div> 
    </div>
  </div>      
</div>

<!-- Puntajes usuario consultados -->
<div class="resultados_actividades" ng-hide="!divConsulta"> 
  <div class="list-group" align="center">
      <h1 class="titulo">Actividades <button class="btn btn-primary addCategoria" type="button" ng-csv="listaPuntajesHabilidad" field-separator=";" decimal-separator="." filename="puntajes_{{currentUser.nombre}}_{{habSel.Nombre}}.csv"><i class="fa fa-download" aria-hidden="true" style="font-size: 2em;"></i></button></h1>
    <div class="row actividades_puntajes">
      <div class="col-md-2" ng-class="{actividades: actividad.estado == true, actividades_activado: actividad.estado == false}" ng-repeat="actividad in actividades" ng-click="vista_actividades(actividad)">{{actividad.Titulo}}</div>
    </div>         
    <div class="row seccion_modulos" align="center">
        <div class="col-md-6" id="modulos">
          <div ng-repeat="actividad in actividades">
            <div ng-show="actividad.estado">
              <h3 class="titulo_seccion_puntajes">{{actividad.Titulo}}</h3> 
                  <canvas tc-chartjs-line chart-data="actividad.nombreGrafica" chart-options="options" style="width=100% !important;height:auto !important;font-size:20px !important;"></canvas>    
            </div>
          </div>
        </div>      
        <div class="col-md-6" id="modulos">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Puntos</th>
                <th>Actividad</th>
                <th>Tiempo</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody ng-repeat="puntaje in listaPuntajesHabilidad">
              <tr>
                <td>{{puntaje.nombre}}</td>
                <td>{{puntaje.puntos}}</td>
                <td>{{puntaje.actividad}}</td>
                <td>{{puntaje.tiempo}}</td>
                <td>{{puntaje.fecha | date : 'medium'}}</td>
              </tr>
            </tbody>
          </table>  
        </div>               
    </div>
  </div> 
</div>
</section>
 

 <!--Modal de cosulta-->
<div class="modal fade" id="ModalCrearPuntajes" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;" class="modal-title titulo">Consulta los Puntajes de un Usuario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="crear_puntajes()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <select ng-model="nuevo.usuario" ng-options="usuario as usuario.nombre_usuario for usuario in listUsuarios track by usuario.nombre_usuario" required></select><br>
                  <label for="profesor">Puntos</label>
                  <input name="titulo"  ng-model="nuevo.puntos" type="number" class="form-control" id="titulo" required>
                  <label for="profesor">Actividad</label>
                  <select ng-model="nuevo.actividad" ng-options="actividad.Titulo as actividad.Titulo for actividad in listaActividades track by actividad.Titulo" required></select><br>
                  <label for="profesor">Tiempo</label>
                  <input name="titulo"  ng-model="nuevo.tiempo" type="number" class="form-control" id="titulo" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>