/*--------------------------------------------------------------------*/
/*---------------          Estilos CSSS            -------------------*/
/*--------------------------------------------------------------------*/


/*--------------------------------------------------------------------

DASHBOARD

Contenido

1)barra navegacion

2)barra lateral

3)seccion actividades

4)seccion evaluacion 

5)seccion registro

6)seguridad monitoreo

7)Pie de pagina

---------------------------------------------------------------------*/
a:hover{
    text-decoration: none !important;
}
/*------------------------------------------*/
/*--------- 1) Barra de navegacion ---------*/
/*------------------------------------------*/
.navbar_dashboard{
	background: #F3F3F3;
	height: 155px;
}
.navbar_dashboard .contenedor{
	height: 100%;
}
.navbar-logo {
    float: left;
    margin-top: 50px;
    padding: 15px 70px;
    font-size: 18px;
}
.navbar_dashboard ul{
    float: right;
    margin: 60px 15px;
}
.navbar_dashboard li{
    padding: 0 15px;
}
.navbar_dashboard #alerta{
	background-image: url("/iconos/negros/2-negro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 120%;
    height: auto;
}
.navbar_dashboard #correo{
	background-image: url("/iconos/negros/1-negro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 120%;
    height: auto;
}

.navbar_dashboard #config{
	background-image: url("/iconos/negros/3-negro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 120%;
    height: auto;    
}
.navbar_dashboard #alerta:hover{
	background: initial;
	background-image: url("/iconos/azules/2-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 120%;
    height: auto;    
}
.navbar_dashboard #correo:hover{
	background: initial;
	background-image: url("/iconos/azules/1-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 120%;
    height: auto;    
}

.navbar_dashboard #config:hover{
	background: initial;
	background-image: url("/iconos/azules/3-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 120%;
    height: auto;     
}
.navbar_dashboard .user_img{
	float: right;
	background: #B3B3B3;
	height: 100%;
    width: 160px;
    max-width: 160px;
    text-align: center;
}
.navbar_dashboard .user_img img{
    max-height: 100%;
    max-width: 160px;
}

.navbar_dashboard .user_img .user_name{
    margin-top: -40px;
    color: gray;
    font-weight: bold;
    z-index: 100;
}

/*------------------------------------------*/
/*------------ 2) Barra lateral ------------*/
/*------------------------------------------*/
#side_inicio{
    top: 200px;
}
#side_actividades{
    top: 260px; 
}
#side_evaluacion{
    top: 320px;
}
#side_registro{
    top: 380px;
}
#side_seguridad{
    top: 440px;
}
.sidenav {
    vertical-align: middle;
    text-align: center;
    height: 50px; 
    width: 40px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background: transparent;
    overflow: hidden; 
    transition: 0.5s; 
}
.sidenav  a {
    height: 50px; 
    padding-top: 15px;
    text-decoration: none;
    font-size: 16px; 
    color: transparent;
    background: navy;
    display: block;
    transition: 1.3s
}
.sidenav a:hover{
    background: #EA077C;
    color: white;
    text-decoration:none;
}
.sidenav a:focus{
    color: transparent;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*------------------------------------------*/
/*--------- 3) Seccion actividades ---------*/
/*------------------------------------------*/
.section_actividades{
	padding: 130px  30px 100px 30px;
	background: #A3A3A3;
}
.section_actividades .seccion_modulos{
    width: 52.5% !important;
    margin: 0 23.75% !important;
}
.section_actividades .col-md-4{
	background: #F3F3F3;
	margin: 2px;
	height: 300px;
    max-width: 220.66px;
}
.section_actividades #modulos #iconos_blancos{
    display: none;
}
.section_actividades #modulos:hover{
	background: #EA077C;
}
.section_actividades #modulos:hover h5{
    color: white;
}
.section_actividades a{
    color: black;
}
.section_actividades #modulos:hover #iconos_negros{
    display: none;
}
.section_actividades #modulos:hover #iconos_blancos{
    display: block;
}
.section_actividades #modulos div{
    margin-top: 70%;
}
.section_actividades #modulos img{
    max-width: 45%;
}
.section_actividades .row{
    margin-left: -20px;
}
.section_actividades .titulo{
    color: white;
    text-transform: uppercase;
    margin: 6%;
    margin-bottom: 0;
}
/*-----------------------------------------*/
/*--------- 4) Seccion evaluacion ---------*/
/*-----------------------------------------*/
.section_evaluacion{
    background: #F3F3F3;
}
.section_evaluacion .row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.section_evaluacion .col-md-8, .section_evaluacion .col-md-4{
    margin: 0;
    padding: 0;
}
.section_evaluacion #modulos_evaluacion{
    background: #A7196D;
    padding: 200px  0% 50px 9%;
}
.section_evaluacion #modulos_evaluacion #modulos{
    background: #F3F3F3;
    margin: 2px;
    height: 280px;
    max-width: 220.66px;
}
.section_evaluacion #modulos_evaluacion #modulos div{
    margin-top: 38%;
}
.section_evaluacion #modulos_evaluacion #modulos h5{
    margin: 5px 15px;
}
.section_evaluacion #modulos_evaluacion #modulos img{
    max-width: 45%;
}
.section_evaluacion #modulos #iconos_blancos{
    display: none;
}
.section_evaluacion #modulos:hover #iconos_negros{
    display: none;
}
.section_evaluacion #modulos:hover #iconos_blancos{
    display: block;
}
.section_evaluacion #modulos_evaluacion #modulos:hover{
    background: #EA077C;
}
.section_evaluacion #modulos_evaluacion #modulos:hover h5{
    color: white;
}
.section_evaluacion a{
    color: black;
}
.section_evaluacion #modulos_evaluacion .titulo{
    color: #631041;
    text-transform: uppercase;
    float: left;
    margin: 160px 0 20px;
}
.section_evaluacion #preguntas_frecuentes{
    padding: 70px 50px;
    padding-bottom: 0;
}
.section_evaluacion #preguntas_frecuentes .titulo{
    color: #A3A3A3;
    text-transform: uppercase;
    float: left;
    margin: 0px;
    margin-bottom: 20px;
}
.section_evaluacion #preguntas_frecuentes .titulo_inferior{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid gray;
}
.section_evaluacion #preguntas_frecuentes .preguntas{
    height: 490px;
    overflow-y: scroll;
    padding-top:30px;
    padding-right:20px;
}
.section_evaluacion #preguntas_frecuentes .pregunta{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.section_evaluacion #preguntas_frecuentes .pregunta .col-md-10, .section_evaluacion #preguntas_frecuentes .pregunta .col-md-2{
    margin: 0px;
    padding: 0px;
}
.section_evaluacion #preguntas_frecuentes #pg_1 .color{
    width: 25px;
    height: 25px;
    background: #A7196D;
}
.section_evaluacion #preguntas_frecuentes #pg_2 .color{
    width: 25px;
    height: 25px;
    background: #EA077C;
}
.section_evaluacion #preguntas_frecuentes #pg_3 .color{
    width: 25px;
    height: 25px;
    background: #EB2424;
}
.section_evaluacion #preguntas_frecuentes .pregunta .titulo{
    color: #535353;
    font-size: 16px;
}
.section_evaluacion #preguntas_frecuentes .pregunta p{   
    text-align: justify;
    height: 65px;
    width: 285px;
    overflow: hidden;
    color: #8E8E8E;
}
.section_evaluacion #preguntas_frecuentes .titulo_inferior .col-md-2 i{
    font-size: 68px;
    color: #8E8E8E;
}
.section_evaluacion #preguntas_frecuentes .titulo_inferior h1{
    font-size: 31px;
    text-align: left;
    margin-left: 40px;
}
.section_evaluacion #preguntas_frecuentes .row_preguntas{
    padding-top: 40px;
}
/*---------------------------------------*/
/*--------- 5) Seccion registro ---------*/
/*---------------------------------------*/
.section_registro{
    padding: 100px  0px 70px 30px;
    background: #A3A3A3;
}
.section_registro .row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.section_registro #modulos_registro{
    padding: 90px  0% 20px 7.40%;
    width: 62%;
}

.section_registro #modulos_registro #modulos{
    background: #F3F3F3;
    margin: 2px;
    height: 280px;
    margin-top: 150px;
    max-width: 220.66px;
}
.section_registro #modulos_registro #modulos div{
    margin-top: 40%;
}
.section_registro #modulos_registro #modulos h5{
    margin: 5px 15px;
}
.section_registro #modulos_registro #modulos img{
    max-width: 45%;
}
.section_registro #modulos_registro #iconos_azules{
    display: none;
}
.section_registro #modulos:hover #iconos_negros{
    display: none;
}
.section_registro #modulos:hover #iconos_azules{
    display: block;
}
.section_registro #modulos_registro #modulos:hover{
    background: #8E8E8E;
}
.section_registro #modulos_registro #modulos:hover h5{
    color: navy;
}
.section_registro a{
    color: black;
}
.section_registro #modulos_registro .titulo{
    color: white;
    text-transform: uppercase;
    float: left;
    margin: 0px;
    margin-top: 70px;
}
.section_registro #panel_calendario .titulo{
    color: white;
    text-transform: uppercase;
    float: right;
    text-align: left;
}
.section_registro #panel_calendario img{
    float: left;
    max-width: 155%;
    margin-top: -12px;
}
.section_registro #panel_calendario{
    background: #EB2424;
    margin: 90px  0 20px 0;
    padding: 90px;
    width: 38%;
    text-align: center;
    padding-top: 186px;
}
.section_registro #panel_calendario .row .calendario{
    background: white;
    margin: 15px;
    width: 22%;
    min-width: 70px;
    min-height: 70px;
    padding-top: 1px;
}
.section_registro #panel_calendario .titulos_calendario{
    margin-left: -20px;
    margin: 5px 0 40px -20px;
}
.section_registro #panel_calendario .titulos_calendario .titulo{
    margin: 15px;
    width: 22%;
}
.section_registro #panel_calendario .calendario h1{
    color: #EB2424;
    font-weight: bold;
}
.section_registro #panel_calendario .titulo_calendario h4{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: -10px;
}
.section_registro #panel_calendario .titulo_calendario{
    float: left;
    margin-left: 47%;
    margin-bottom: 72px;
}
@media screen and (max-width: 993px) {
.section_registro #panel_calendario #calendario_js{
    display: none;
}
}
/*----------------------------------------*/
/*------- 6) Seguridad y monitoreo -------*/
/*----------------------------------------*/
.section_seguridad #modulos_seguridad {
    background:#A7196D;
    padding: 90px 0% 20px 6.4%;
    height: 1100px;
}
.section_seguridad #modulos_seguridad a{
    color: black;
}
.section_seguridad #modulos_seguridad .titulo{
    color:#631041;
    float: left;
    margin: 40px 0;
}
.section_seguridad .row{
    margin: 0;
    width: 100%;
}
.section_seguridad #informacion{
    background:#F3F3F3;
    padding: 70px 5% 60px 5%; 
    width: 50%;  
}
.section_seguridad #modulos_seguridad #modulos{
    background: #F3F3F3;
    margin: 2px;
    height: 230px;
    max-width: 180.66px;
}
.section_seguridad #modulos_seguridad #modulos div{
    margin-top: 43%;
}
.section_seguridad #modulos_seguridad #modulos h5{
    margin: 5px 15px;
}
.section_seguridad #modulos_seguridad #modulos img{
    max-width: 65%;
}
.section_seguridad #modulos #iconos_blancos{
    display: none;
}
.section_seguridad #modulos:hover #iconos_negros{
    display: none;
}
.section_seguridad #modulos:hover #iconos_blancos{
    display: block;
}
.section_seguridad #modulos_seguridad #modulos:hover{
    background: #EA077C;
}
.section_seguridad #modulos_seguridad #modulos:hover h5{
    color: white;
}
.section_seguridad #informacion{
    padding: 70px 0px;
    padding-bottom: 0;
}
.section_seguridad #informacion .titulo{
    color: #A3A3A3;
    width: 100%;
    text-transform: uppercase;
    float: left;
    text-align: left;
    margin: 0px;
    margin-bottom: 40px;
}
.section_seguridad #informacion .titulo_inferior{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid gray;
}
.section_seguridad #informacion .mensajes{
    height: 490px;
    overflow-y: scroll;
    padding-top:30px;
    padding-right:20px;
    padding: 0 30px;
    
}
.section_seguridad #informacion .mensaje{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.section_seguridad #informacion .mensaje .col-md-10, .section_seguridad #informacion .mensaje .col-md-2{
    margin: 0px;
    padding: 0px;
}
.section_seguridad #informacion #pg_1 .color{
    width: 25px;
    height: 25px;
    background: #A7196D;
}
.section_seguridad #informacion #pg_2 .color{
    width: 25px;
    height: 25px;
    background: #EA077C;
}
.section_seguridad #informacion #pg_3 .color{
    width: 25px;
    height: 25px;
    background: #EB2424;
}
.section_seguridad #informacion .mensaje .titulo{
    color: #535353;
}
.section_seguridad #informacion .mensaje p{   
	text-align: left;
    font-size: medium;
    overflow: hidden;
    color: #8E8E8E;
}
.section_seguridad #informacion .titulo_inferior .col-md-2 i{
    font-size: 68px;
    color: #8E8E8E;
}
.section_seguridad #informacion .titulo_inferior h1{
    font-size: 31px;
    text-align: left;
    margin-left: 40px;
}
.section_seguridad #informacion .row_preguntas{
    padding-top: 40px;
}
.section_seguridad #informacion .titulo_mensaje{
    margin:60px;
    color: #A3A3A3;
    text-transform: uppercase;
    float: left;
    text-align: left;
}
.section_seguridad #informacion .info_sesiones{
    background: #EA077C;
    margin:0;
    padding-top: 10px;
    color: white;
}
.section_seguridad #informacion .info_sesiones .col-md-3{
    margin:0;

}
.section_seguridad #informacion .info_sesiones .row{
    margin:0;
    width: 100%;
}
.section_seguridad #informacion .soporte{
    background: #A3A3A3;
}
.section_seguridad #informacion .soporte .row{
    width: 100%;
    margin: 0;
}
.section_seguridad #informacion .soporte #soporte-imagen img{
    border: 2px solid white;
    padding: 2px;
    margin: 20px;
    border-radius: 90px;
    width: 65%;
    max-width: 100px;
}
.section_seguridad #informacion .soporte #soporte-imagen {
    text-align: right;
    margin-top: 20px;
    margin-right: -50px;
    margin-left: 50px;
}    
.section_seguridad #informacion .soporte h1{
    font-size: 46px;
    color: white;
}
.section_seguridad #informacion .soporte p{
    text-align: justify;
    width: 360px;
    color:white;
}
.section_seguridad #informacion .soporte{
    width: 100%;
    margin: 0;
}
.section_seguridad #informacion .soporte .soporte_boton{
    float: right;
    margin: 20px;
    height: 30px;
    width: 160px;
    color: white;
    background: #EA077C;
    border: none;
}
.section_seguridad .titulo_estados{
    width: 460px;
    padding: 20px;
    margin-left: -70px;
    color: white;
    text-transform: uppercase;
    background: #EA077C;
}
.section_seguridad .botones_mensajes{
    margin: 20px 0;
    margin-left: 10%;
    width: 70%;
}
.section_seguridad .botones_mensajes .botones{
    background: #A7196D;
    color: white;
    margin: 0 5px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
}
.section_seguridad .botones_mensajes .botones:hover{
    background: #EA077C;
}
.section_seguridad .botones_mensajes .botones:target{
    background: #EA077C;
} 
.section_seguridad .botones_mensajes{
    margin: 20px 0;
    margin-left: 10%;
    width: 70%;
}
.section_seguridad .botones_mensajes .botones{
    background: #A7196D;
    color: white;
    margin: 0 5px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
}
.section_seguridad .botones_mensajes .botones:hover{
    background: #EA077C;
}

/*------------------------------------*/
/*--------- 7) Pie de pagina ---------*/
/*------------------------------------*/
.pie_de_pagina{
    background:#F3F3F3;
    text-align: center;
    font-size: 9px;
    padding: 30px 0;
}
.pie_de_pagina .titulo{
    font-size: 14px;
}

/*------------------------------------------*/
/*------------ 2) Barra lateral  ------------*/
/*------------------------------------------*/
#link_descarga_letra{
    color: wheat;
}
#link_descarga_letra:hover {
    color: #710c48;
    font-weight: bolder;
}
#download_info{
    display: none;
}
#sidedownload_inicio{
    top: 160px;
    right: 0px;
}
.siderightnav {
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    height: 70px; 
    width: 100px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    background: transparent;
    transition: 0.5s;
}
.siderightnav  a {
    padding-left: 25%;
    height: 70px; 
    padding-top: 15px;
    text-decoration: none;
    font-size: 16px; 
    color: white;
    background: #3232d6;
    -webkit-animation-name: coloresFondoBoton;
    -webkit-animation-duration: 6s;
    animation-name: coloresFondoBoton;
    animation-duration: 6s;
    animation-iteration-count: infinite;      
    display: block;
}
.siderightnav #icono_descarga{
    border: 2px solid #06066f;
    padding: 10px;
    border-radius: 20px;
}
.siderightnav a:hover{
    background: #d45790;
    color: white;
    text-decoration:none;
    animation: unset;
}
.siderightnav a:hover #icono_descarga{
    border-color: #710c48;
    transition: 1.3s
}
.siderightnav a:focus{
    color: transparent;
}
.siderightnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@keyframes coloresFondoBoton {
    0%   {background-color: #3232d6;}
    25%  {background-color: #ed3939;}
    49%  {background-color: #c55196;}
    73%   {background-color: #f051a3;}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.iconos_pasos_descarga {
    width: 100%;
    text-align: center;    
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 7px;
    border-radius: 3px;
}
.bs-callout h5 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-primary {
    border-left-color: white;
}
#download_info .cerrar{
    position: absolute;
    top: 2%;
    left: 4%;
    border: none;
}


/*--------------------------------------------------------------------

REGISTRO

Contenido

1)barra navegacion

2)barra lateral

3)seccion actividades

4)seccion evaluacion 

5)seccion registro

6)seguridad monitoreo

7)Pie de pagina

---------------------------------------------------------------------*/

/*------------------------------------------*/
/*--------- 1) Barra de navegacion ---------*/
/*------------------------------------------*/
.navbar_dashboard .titulo_formulario{
    float: right;
    color: navy;
    height: 100%;
    margin: 40px 60px;
}

.formulario_registro {
    padding: 80px 70px 170px 70px;
    background: #A3A3A3;
}

.formulario_registro .titulo{
    color: white;
    margin-bottom: 70px;
}
.formulario_registro .titulo_formulario{
    text-align: left;
    color: white;
    margin: 3%;
    margin-left: 10%;
}
.formulario_registro .form_izq{
    background: #797979;
    padding: 50px 10px;
    color: white;
}
.formulario_registro .form_der{
    padding: 50px 10px;
    color: white;
}
.formulario_registro .entrada,.formulario_registro .entrada_select{
    width: 80%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px;
    padding: 12px;
    color: white;    
}
.formulario_registro input:focus, .formulario_registro select:focus{
    border: 2px solid navy;
    box-shadow: none !important;
}
.formulario_registro .entrada_nacimiento{
    width: 58%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px;
    padding: 12px;
    text-align: center;
    color: white;    
}
.formulario_registro .entrada_telefonos{
    width: 37.5%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px;
    padding: 12px;
    color: white;    
}
.formulario_registro .entrada_edad{
    width: 30%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px 10%;
    padding: 12px;
    color: white;    
}
.formulario_registro .entrada_historia{
    width: 50%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px;
    padding: 12px;
    margin-right: 10%;
    color: white;
}
.formulario_registro .entrada_diag_ayuda{
    width: 30%;
    background: transparent;
    border: 2px solid #F3F3F3;
    margin: 15px;
    padding: 12px;
    margin-right: 10%;
    color: white;
}
.formulario_registro .boton_envio{
    margin: 60px;
    height: 50px;
    width: 200px;
    color: white;
    background: #EA077C;
    border: none;
}
.formulario_registro .boton_envio:hover{
    background: #A7196D;
}
.formulario_registro .boton_cancelar{
    height: 50px;
    width: 200px;
    color: #474747;
    background: transparent;
    border: 1px solid #F3F3F3;
}
.formulario_registro .boton_cancelar:hover{
    border: 1px solid #797979;
}
.formulario_registro .boton_cancelar:focus, .formulario_registro .boton_envio:focus{
    border: none;
    box-shadow: none;
}
.formulario_registro .input_sexo, .formulario_registro .input_ayuda{
    margin: 0 10px;
} 
.formulario_registro input[type="radio"] {
    display:inline-block;
    width:29px;
    height:29px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.formulario_registro input[type="radio"] {
     background-color:#292321;
}
.formulario_registro input[type="radio"]:checked{
     background-color:#CC3300;
}
.formulario_registro option{
    color: #797979;
}

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*----------------------- Modulos ----------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
.modulos_sections{
    padding: 50px 0px 50px 100px;
}
.modulos_sections .list-group-item a{
    color: #555;
}
.modulos_sections .list-group-item a:hover{
    text-decoration: none;
}
.modulos_sections #iconos{
    width: 80px;
    height: auto;   
}
.modulos_sections .titulo{
    color:navy;
}
.modulos_sections .addCategoria{
    color:navy;
    background:transparent;
    border-color:transparent;
    box-shadow: none;
}
.modulos_sections .addCategoria:hover{
    color:navy;
    background:transparent;
}
.modulos_sections .addCategoria:active{
    color:navy;
    background:transparent;
}
.modulos_sections .addCategoria:focus{
    color:navy;
    background:transparent;
}
.modulos_sections .seccion-centro{
    background: #A7196D;
}
.modulos_sections .seccion-derecha{
    background: #797979;
    color: white;
}
.modulos_sections .seccion-derecha .alert-danger{
    background: rgba(255,255,255,0.2);
    border-color: transparent;
    color: white;
}
.modulos_sections .tituloDerecho{
    color:white;
}
.modulos_sections .addCategoriaDerecho{
    color:white;
    background:transparent;
    border-color:transparent;
    box-shadow: none;
}
.modulos_sections .addCategoriaDerecho:hover{
    color:white;
    background:transparent;
}
.modulos_sections .addCategoriaDerecho:active{
    color:white;
    background:transparent;
}
.modulos_sections .addCategoriaDerecho:focus{
    color:white;
    background:transparent;
}
.seccion-derecha .submodulo-etiquetas{
    height: 420px;
    overflow-y: auto;
    padding: 10px;
}
.modulos_sections_resultados .informacion_resultados_modulo {
    margin: 0;
    padding: 50px;
}
.modulos_sections_resultados .informacion_resultados_modulo .titulo{
    margin: 60px 0;
    color: #A3A3A3;
}
.modulos_sections_resultados .informacion_resultados_modulo .informacion_resultados{
    margin-left: -100px !important;
    text-align: left;
    color: white;
}
.modulos_sections_resultados .resultados_actividades{
    margin: 0 60px;
}

.lineadetiempo_img{
    text-align: right !important;
    z-index: 1 !important;
}
.lineadetiempo .fecha{
    text-align: right !important;
    padding-top: 25px !important;
}
.lineadetiempo .comentario{
    padding: 0px 70px !important;
}
.lineadetiempo img{
    padding: 20px !important;
    border: 3px solid !important;
    border-radius: 100px !important;
    z-index: 100 !important;
    background: #A7196D !important;
    width: auto !important;
}
.lineadetiempo_contenido{
    border-left: 3px solid !important;
    padding-left: 90px !important;
    margin-left: -43px !important;   
}
.lineadetiempo_contenido p{
    width: 450px !important; 
}

.lineadetiempo2_img{
    text-align: right !important;
    z-index: 1 !important;
    color: white !important;
}
.lineadetiempo2 .fecha{
    text-align: right !important;
    padding-top: 25px !important;
    color: white !important;
}
.lineadetiempo2 .comentario{
    padding: 0px 70px !important;
    color: white !important;
    margin-top: -40px !important;
}
.lineadetiempo2 img{
    padding: 20px !important;
    border: 3px solid !important;
    border-radius: 100px !important;
    z-index: 100 !important;
    background: #A7196D !important;
    width: auto !important;
    color: white !important;
    margin-left: -13px !important;
}
.lineadetiempo2_contenido{
    border-left: 3px solid !important;
    padding-left: 90px !important;
    margin-left: -43px !important;
    color: white !important;    
}
.lineadetiempo2_contenido p{
    width: 450px !important;
    color: white !important; 
}

.modulo_usuario {
    padding: 50px;
    background: #ccc;
}
.modulo_usuario .titulo{
    padding-bottom: 30px;
}
.modulo_usuario .divTabla{
    padding: 10px 80px;
    background: #A3A3A3; 
}
.modulo_usuario .divTabla .tabla_usuarios{
    color: white;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
.modulo_usuario .divTabla .tabla_usuarios .nombre_columnas{ 
    text-align: left;
    font-weight: bold;
}
.modulo_usuario .divTabla .tabla_usuarios .fila_usuarios{ 
    text-align: left;
    border: 1px solid white;
    margin-bottom: 15px;
    height: 62px;
} 
.modulo_usuario .titulo_principal{
    color:white;
    text-align: left;
}

.modulo_sesiones {
    padding: 50px;
    background: #ccc;
}
.modulo_sesiones .titulo{
    padding-bottom: 30px;
}
.modulo_sesiones .divTabla{
    padding: 10px 80px;
    background: #A3A3A3; 
}
.modulo_sesiones .divTabla .tabla_usuarios{
    color: white;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
.modulo_sesiones .divTabla .tabla_usuarios .nombre_columnas{ 
    text-align: left;
    font-weight: bold;
}
.modulo_sesiones .divTabla .tabla_usuarios .fila_usuarios{ 
    text-align: left;
    border: 1px solid white;
    margin-bottom: 15px;
} 
.modulo_sesiones .titulo_principal{
    color:white;
    text-align: left;
}
.modulo_sesiones .sesiones_iconos{
    width: 70px !important;
}
.sesiones_software{
    height: 420px;
    overflow-y: auto;
    padding: 10px;
}

.modulo_sesiones .sesiones_titulo {
     padding-bottom: 0px; 
}

.modulo_sesiones .fila_usuarios_sesiones:hover{
    background: #EA077C;
}

.modulo_sesiones .fila_usuarios_sesiones:hover .badge{
    background: navy !important;
}
.navbar_dashboard .numero_alertas{
    margin-top: -2px;
    text-align: center;
    margin-left: 19%;
}
.modulo_usuario .boton_habilitar:hover{
    background: #EA077C;
    height: 60px;
    margin-top: -20px;
}
.modulo_usuario .boton_habilitar:hover i{
    margin-top: 22px !important;
}

.modulo_sesiones .boton_editar_historia{
    color:navy;
}
.modulo_sesiones .boton_editar_historia:hover{
    color: #EA077C;
}
.modulo_sesiones .lista_acudientes{
    margin:80px;
    margin-top:0px;
    padding: 40px;
    background:#A7196D;
}
.modulo_sesiones .acudiente_lista{
    text-align: left;
    background:#F3F3F3;
    color: #A3A3A3;
    border-left: 10px solid #EA077C;
    border-radius: 15px 0 0 15px !important;
    margin:0;
    margin-top: 15px;
}
.modulo_sesiones .habilidades_puntajes{
    margin-top: 50px;
}
.modulo_sesiones .resultados_actividades{
    background: #A3A3A3;
    padding: 60px 20px;
    margin: 0 30px;
}
.modulo_sesiones .habilidades_puntajes{
    margin-left: 0%;
}
.modulo_sesiones .habilidades_puntajes .habilidades{
    background: #F3F3F3;
    color: black;
    margin: 0 0px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.modulo_sesiones .habilidades_puntajes .habilidades:hover{
    background: #EA077C;
    color: white;
}
#iconos_blancos_puntaje, #iconos_negros_puntaje{
    width: 30px !important;
}
.modulo_sesiones .habilidades_puntajes .habilidades:hover #iconos_negros_puntaje{
    display: none;
}
.modulo_sesiones .habilidades_puntajes  #iconos_blancos_puntaje{
    display: none;
}
.modulo_sesiones .habilidades_puntajes .habilidades:hover #iconos_blancos_puntaje{
    display: block;
}
.modulo_sesiones .actividades_puntajes{
    margin-left: 10%;
    margin-bottom: 50px;
}
.modulo_sesiones .actividades_puntajes .actividades{
    background: #F3F3F3;
    color: black;
    margin: 10px 5px 15px 5px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    border:none;
}
.modulo_sesiones .actividades_puntajes .actividades:hover{
    background: #EA077C;
    color: white;
}
.modulo_sesiones .seccion_modulos .titulo_seccion_puntajes{
    text-transform: capitalize;
    color: white;
}
.modulos_sections .btn_calificar{
    background:#EA077C;
    padding: 5px 10px;
    color:white;
    border:none;
}
.modulos_sections .btn_calificar:hover{
    background: navy;
}
.progress-bar-success{
    background-color: #EA077C !important;
}
.progress-bar-warning{
    background-color: #A7196D  !important;
}
.progress-bar-danger{
    background-color: #EB2424  !important;
}
.modulo_sesiones .actividades_puntajes .actividades_activado{
    background: #A7196D;
    color: white;
    margin: 10px 5px 15px 5px;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    border:none;    
}
.modulo_sesiones .actividades_puntajes .actividades_activado:hover{
    background: #EA077C;
    color: white;
}

.info_adicional{
    background-color: #797979 !important;
    color: #fff !important;
}