<!--Seccion de informacion-->
<section class="modulos_sections modulo_sesiones" align="center">
<h1 class="titulo" style="margin:40px 0;font-size:43px;">Registro de sesiones</h1>
  <div class="divTabla" ng-show="administrador"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-2">Nombre usuario</div>
          <div class="col-md-3">Identificación</div>
          <div class="col-md-3">Email</div>
          <div class="col-md-1">Sesiones</div>
      </div>
      <div  ng-repeat="usuario in listUsuarios">
        <div class="row fila_usuarios fila_usuarios_sesiones" ng-click="sesionPerfil= !sesionPerfil"> 
              <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
              <div class="col-md-2">{{usuario.nombre_usuario}}</div>
              <div class="col-md-3">{{usuario.identificacion}}</div>
              <div class="col-md-3">{{usuario.email}}</div>
              <div class="col-md-1"><span class="badge" style="background:#EB2424;border-color:transparent;">{{usuario.sesionesUsuario}}</span></div>
        </div>
        <div ng-hide="sesionPerfil" class="row" align="center">
            <div class="col-md-6 seccion-derecha" align="center">
                <h3 class="tituloDerecho "><img id="iconos" class="sesiones_iconos" src="iconos/blancos/24-blanco.png"> Sesiones del software</h3>
                <div class="list-group sesiones_software">
                      <div ng-repeat="sesion in usuario.sesionesSoftware" class="list-group-item" style="border:none;background:rgba(255,255,255,0.3);">
                            <h4 class="list-group-item-heading">{{sesion.nombreUsuario}}</h4>
                            <p class="list-group-item-text">{{sesion.fecha | date:"MM/dd/yyyy '-' h:mma"}}</p>  
                            <h4 class="list-group-item-heading">{{sesion.plataforma}}</h4>
                      </div>
                </div>
            </div> 
            <div class="col-md-6 seccion-derecha" align="center">   
              <div>
                <h3 class="tituloDerecho"><img id="iconos" class="sesiones_iconos" src="iconos/blancos/28-blanco.png"> Sesiones del juegos</h3>
                  <div class="list-group submodulo-etiquetas">
                        <div class="alert alert-danger" ng-repeat="sesion in usuario.sesionesJuego">
                            <h4 class="list-group-item-heading">{{sesion.nombreUsuario}}</h4>
                            <p class="list-group-item-text">{{sesion.fecha | date:"MM/dd/yyyy '-' h:mma"}}</p>
                            <h4 class="list-group-item-heading">{{sesion.plataforma}}</h4>
                        </div>
                  </div>
              </div>         
            </div>  
          </div>
        </div>
    </div>
  </div>

<div class="divTabla" ng-hide="administrador"> 
  <div class="tabla_usuarios">
    <div class="row nombre_columnas">
            <div class="col-md-3">Nombre</div>
            <div class="col-md-2">Nombre usuario</div>
            <div class="col-md-3">Identificación</div>
            <div class="col-md-3">Email</div> 
            <div class="col-md-1">Sesiones</div>
    </div>
    <div>
          <div class="row fila_usuarios"> 
                <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
                <div class="col-md-2">{{usuario.nombre_usuario}}</div>
                <div class="col-md-3">{{usuario.identificacion}}</div>
                <div class="col-md-3">{{usuario.email}}</div>
                <div class="col-md-1"><span class="badge" style="background:#EB2424;border-color:transparent;">{{usuario.sesionesUsuario}}</span></div>
          </div>
          <div class="col-md-12">
            <div class="row" align="center">
              <div class="col-md-6 seccion-derecha" align="center">
                <h3 class="tituloDerecho"><img id="iconos" class="sesiones_iconos" src="iconos/blancos/24-blanco.png"> Sesiones del software</h3>
                  <div class="list-group sesiones_software">
                      <div ng-repeat="sesion in sesionesSoftware" class="list-group-item" style="border:none;background:rgba(255,255,255,0.3);">
                          <h4 class="list-group-item-heading">{{sesion.nombreUsuario}}</h4>
                          <p class="list-group-item-text">{{sesion.fecha | date:"MM/dd/yyyy '-' h:mma"}}</p>
                          <h4 class="list-group-item-heading">{{sesion.plataforma}}</h4>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 seccion-derecha" align="center">   
                  <div>
                    <h3 class="tituloDerecho"><img id="iconos" class="sesiones_iconos" src="iconos/blancos/28-blanco.png"> Sesiones del juego</h3>
                      <div class="list-group submodulo-etiquetas">
                        <div class="alert alert-danger" ng-repeat="sesion in sesionesJuego">
                            <h4 class="list-group-item-heading">{{sesion.nombreUsuario}}</h4>
                            <p class="list-group-item-text">{{sesion.fecha | date:"MM/dd/yyyy '-' h:mma"}}</p>
                            <h4 class="list-group-item-heading">{{sesion.plataforma}}</h4>
                        </div>
                      </div>
                  </div>          
              </div> 
            </div> 
          </div>
      </div>
  </div>
</div>
</section>