<!--Seccion de informacion-->
<section class="modulos_sections">
<section class="horario-panel">
    <div class="col-md-12">
      <div class="row" align="center">
        <div class="col-md-6" align="center">
            <h1 class="titulo"><img id="iconos" src="iconos/azules/4-azul.png"> Actividades del juego <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_actividades" ng-show="divAdministrador"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
            <div class="list-group">
                  <div>
                    <div ng-repeat="enlace in enlaces_materia" class="list-group-item">
                      <button class="close" ng-click="eliminar_enlace(enlace)" aria-label="close" ng-show="divAdministrador">&times;</button>
                      <a href="http://localhost/{{enlace.Enlace}}">
                        <h4 class="list-group-item-heading">{{enlace.Titulo}}</h4>
                        <p class="list-group-item-text">{{enlace.Enlace}}</p>
                        <h5 class="list-group-item-heading">{{enlace.Habilidad.Nombre}}</h5>
                        <h5 ng-repeat="competencia in enlace.Competencias" class="list-group-item-heading">{{competencia.Nombre}}</h5>
                        <h5 class="list-group-item-heading">{{enlace.Nivel}}</h5>
                        <h5 class="list-group-item-heading">{{enlace.TipoEval.Nombre}}</h5>
                        <h5 class="list-group-item-heading">{{enlace.Comentario}}</h5>
                        <h5 class="list-group-item-heading">Nivel: {{enlace.Nivel}}</h5>
                        <h5 class="list-group-item-heading">Puntos posibles: {{enlace.Puntos}}</h5>
                      </a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-6 seccion-derecha" align="center"> 
          <div ng-show="false">
            <h1 class="tituloDerecho"><img id="iconos"  src="iconos/blancos/7-blanco.png"> Etiquetas actividades <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_etiquetas" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
              <div class="list-group submodulo-etiquetas">
                    <div class="alert alert-danger" ng-repeat="etiqueta in etiquetas">
                        <a class="close" ng-click="eliminar_etiqueta(etiqueta)" aria-label="close">&times;</a>
                        <strong><h4 class="list-group-item-heading">{{etiqueta.Nombre}}</h4></strong>
                        <h5 class="list-group-item-heading">{{etiqueta.Comentario}}</h5>
                    </div>
              </div>
          </div>
          <div>
            <h1 class="tituloDerecho"><img id="iconos" src="iconos/blancos/8-blanco.png"> Tipos evaluacion <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_evaluacion" ><i class="fa fa-plus-square fa-lg" aria-hidden="true" ng-show="divAdministrador"></i></button></h1>
              <div class="list-group">
                <div  class="alert alert-danger" ng-repeat="evaluacion in evaluaciones">
                  <a class="close" ng-click="eliminar_evaluacion(evaluacion)" aria-label="close" ng-show="divAdministrador">&times;</a>
                  <h4>{{evaluacion.Nombre}}</h4>
                </div>
              </div>
          </div>          
        </div>  
    </div>
</section>

<!--Modal de actividades-->
<div class="modal fade" id="Modal_actividades" role="dialog">
  <style>
    .form option{
      color:black;
    }
  </style>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade un actividad del software</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_enlace()">
                <div class="form-group">
                  <label for="profesor">Titulo</label>
                  <input name="titulo"  ng-model="enlace.tituloEnlace" type="text" class="form-control" id="titulo" placeholder="Titulo" required>
                </div>
                <div class="form-group">
                   <label for="codigo">Enlace</label>
                   <input name="enlace" ng-model="enlace.enlace" type="text" class="form-control" id="enlace" placeholder="Enlace" required>
                </div>
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="enlace.comentarioEnlace" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
                <div class="form-group">
                   <label for="curso">Habilidad</label>
                   <select class="form-control" ng-model="enlace.habilidadEnlace" ng-options="habilidad as habilidad.Nombre for habilidad in habilidades track by habilidad.Nombre" required>
                   </select>
                </div>
                <div class="form-group">
                   <label for="curso">Competencia</label>
                   <select class="form-control" ng-model="enlace.competenciaEnlace" ng-options="competencia as competencia.Nombre for competencia in competencias track by competencia.Nombre" multiple required>
                   </select>
                </div>
                <div class="form-group">
                   <label for="curso">Tipo de evaluación</label>
                   <select class="form-control" ng-model="enlace.evaluacionEnlace" ng-options="evaluacion as evaluacion.Nombre for evaluacion in evaluaciones track by evaluacion.Nombre" required>
                   </select>
                </div>
                <div class="form-group">
                   <label for="codigo">Número de nivel</label>
                   <input name="nivel" ng-model="enlace.nivelEnlace" type="number" class="form-control" id="nivel" placeholder="Número de nivel" required>
                </div>
                <!--NUEVO-->
                <div class="form-group">
                   <label for="codigo">Puntos Posibles</label>
                   <input name="puntos" ng-model="enlace.puntosEnlace" type="number" class="form-control" id="puntos" placeholder="Máximo de puntos posibles" required>
                </div>
                <!--HASTA ACA-->
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear enlace</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de actividades-->
<div class="modal fade" id="Modal_etiquetas" ng-model="Modal_etiquetas" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade una nueva etiqueta</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_etiqueta()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="etiqueta.nombreEtiqueta" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="etiqueta.comentarioEtiqueta" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear etiqueta</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de evaluacion-->
<div class="modal fade" id="Modal_evaluacion" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Crea un nuevo tipo de evaluacion</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_evaluacion()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="evaluacion.nombreEvaluacion" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear tipo de evaluación</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>
</section>