<!-- Actividades -->
<section class="section_actividades" id="section_actividades">
    <div class="row seccion_modulos" align="center">
        <a ui-sref="app.audios">
            <div class="col-md-4" id="modulos">
                <div>			
                    <img id="iconos_negros"  src="iconos/negros/14-negro.png">
                    <img id="iconos_blancos"  src="iconos/blancos/14-blanco.png">
                    <h5>Biblioteca de audios</h5>
                </div>			
            </div>
        </a>		
        <a ui-sref="app.actividades" ng-show="administrador || especialista">
            <div class="col-md-4" id="modulos">
                <div>			
                    <img id="iconos_negros" src="iconos/negros/4-negro.png">
                    <img id="iconos_blancos" src="iconos/blancos/4-blanco.png">
                    <h5>Administración de actividades</h5>
                </div>
            </div>
        </a>
        <a ui-sref="app.avances">
            <div class="col-md-4" id="modulos">
                <div>			
                    <img id="iconos_negros"  src="iconos/negros/5-negro.png">
                    <img id="iconos_blancos"  src="iconos/blancos/5-blanco.png">
                    <h5>Calificación de actividades</h5>
                </div>			
            </div>
        </a>
    </div>
    <div align="right">
        <h1 class="titulo">Actividades</h1>
    </div>
</section>
<!-- Evaluacion -->
<section class="section_evaluacion" id="section_evaluacion"> 
    <div class="row" align="center">
        <div class="col-md-12" id="modulos_evaluacion">
            <div class="row" align="center">
                <a ui-sref="app.puntajes">
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/9-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/9-blanco.png">
                            <h5>Resultados</h5>
                        </div>
                    </div>
                </a>
                <a ui-sref="app.competencias" ng-show="administrador || especialista">
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/12-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/12-blanco.png">
                            <h5>Competencias</h5>
                        </div>
                    </div>
                </a>			
                <a ui-sref="app.evaluacion" ng-show="false">
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/5-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/5-blanco.png">
                            <h5>Administración de evaluación</h5>
                        </div>
                    </div>
                </a>
            </div>
            <h1 class="titulo">Evaluación</h1>		
        </div>
        <div class="col-md-4" id="preguntas_frecuentes" style="display: none;">
            <div class="preguntas">
                <div class="pregunta" id="pg_1">
                    <div class="row" align="center">
                        <div class="col-md-2" align="right"><div class="color"></div></div>
                        <div class="col-md-10"><h4 class="titulo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="pregunta" id="pg_2">
                    <div class="row" align="center">
                        <div class="col-md-2" align="right"><div class="color"></div></div>
                        <div class="col-md-10"><h4 class="titulo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="pregunta" id="pg_3">
                    <div class="row" align="center">
                        <div class="col-md-2" align="right"><div class="color"></div></div>
                        <div class="col-md-10"><h4 class="titulo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="titulo_inferior">
                <div class="row row_preguntas" align="center">
                    <div class="col-md-2" align="center"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                    <div class="col-md-10"><h1 class="titulo">preguntas frecuentes</h1></div>
                </div>
            </div>		
        </div>
    </div>
</section>
<!-- Registro -->
<section class="section_registro" id="section_registro">
    <div class="row" align="center">
        <div class="col-md-8" id="modulos_registro">
            <div class="row" align="center">
                <a ui-sref="app.historias">
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/20-negro.png">
                            <img id="iconos_azules" src="iconos/azules/20-azul.png">
                            <h5>Historia médica</h5>
                        </div>
                    </div>
                </a>
                <a ui-sref="app.acudientes">
                    <div class="col-md-4"  id="modulos" ng-show="administrador || especialista">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/22-negro.png">
                            <img id="iconos_negros" src="iconos/negros/23-negro.png">
                            <img id="iconos_azules" src="iconos/azules/22-azul.png">
                            <img id="iconos_azules" src="iconos/azules/23-azul.png">
                            <h5>Acudientes</h5>
                        </div>
                    </div>
                </a>
                <a  ui-sref="app.parametros" ng-show="administrador || especialista">
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/5-negro.png">
                            <img id="iconos_azules" src="iconos/azules/5-azul.png">
                            <h5>Parámetros de registro</h5>
                        </div>
                    </div>
                </a>								
            </div>
            <h1 class="titulo">Registro</h1>		
        </div>
        <div class="col-md-4" id="panel_calendario">
            <div class="row" id="calendario_js" align="center">
                <div class="col-md-4">
                    <div class="calendario">
                        <h1 id="dia_calendario"></h1>
                    </div>
                    <div class="titulo_calendario">
                        <h4 id="dia_titulo">Día</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="calendario">
                        <h1 id="mes_calendario"></h1>
                    </div>
                    <div class="titulo_calendario">
                        <h4 id="mes_titulo">Mes</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="calendario">
                        <h1 id="año_calendario"></h1>
                    </div>
                    <div class="titulo_calendario">
                        <h4 id="año_titulo">Año</h4>
                    </div>
                </div>
            </div>
            <div class="row" align="center" style="opacity: 0;">
                <div class="col-md-3" align="right"><img src="iconos/blancos/24-blanco.png"></div>
                <div class="col-md-9"><h4 class="titulo">Ver calendario de actividades</h4></div>
            </div>			
        </div>
    </div>
</section>
<!-- Seguridad -->
<section class="section_seguridad" id="section_seguridad">
    <div class="row" align="center">
        <div class="col-md-6" id="modulos_seguridad">
            <div class="chart">
                <canvas id="estado_usuarios" style="height: 180px; width: 703px;" height="180" width="703"></canvas>
            </div>
            <h1 class="titulo_estados">Estado usuarios</h1>
            <div class="row" align="center">
                <a ui-sref="app.usuarios">
                    <div class="col-md-4" id="modulos" ng-show="administrador || especialista">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/27-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/27-blanco.png">
                            <h5>Usuarios</h5>
                        </div>
                    </div>
                </a>
                <a ui-sref="app.sesiones" >
                    <div class="col-md-4" id="modulos">
                        <div>
                            <img id="iconos_negros" src="iconos/negros/7-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/7-blanco.png">
                            <h5>Registro de Sesiones</h5>
                        </div>
                    </div>
                </a>
                <a ui-sref="app.alertas">
                    <div class="col-md-4" id="modulos" ng-show="administrador||especialista">  
                        <div>
                            <img id="iconos_negros" src="iconos/negros/2-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/2-blanco.png">
                            <h5>Alertas</h5>
                        </div>
                    </div>
                </a>
                <a ui-sref="app.auditoria">
                    <div class="col-md-4" id="modulos" ng-show="administrador||especialista">  
                        <div>
                            <img id="iconos_negros" src="iconos/negros/11-negro.png">
                            <img id="iconos_blancos" src="iconos/blancos/11-blanco.png">
                            <h5>Auditoria</h5>
                        </div>
                    </div>
                </a>			
            </div>
            <h1 class="titulo">Seguridad y monitoreo</h1>
        </div>
        <div class="col-md-6" id="informacion">
            <div class="row botones_mensajes">
                <div class="col-md-5 botones estilo1" ng-click="mensajes_recibidos=!mensajes_recibidos"><i class="fa fa-envelope" aria-hidden="true"></i> Mensajes Recibidos</div>
                <div class="col-md-5 botones estilo2" ng-click="mensajes_enviados=!mensajes_enviados"><i class="fa fa-paper-plane" aria-hidden="true"></i> Mensajes Enviados</div>
            </div>
            <div class="mensajes">
                <div ng-show="mensajes_recibidos">
                    <h1 class="mensaje">MENSAJES RECIBIDOS</h1>
                    <div class="mensaje" id="pg_2" ng-repeat="mensaje in mensajes">
                        <div class="row" align="center">
                            <div class="col-md-2" align="center"><div class="color"></div></div>
                            <div class="col-md-10">
                                <h4 class="titulo">{{mensaje.remitente}}</h4><br>
                                <h5 class="titulo"><span style="text-transform: capitalize;color: navy;">asunto: </span>{{mensaje.asunto}}</h5>
                            </div>
                        </div>
                        <p>{{mensaje.mensaje}}</p>
                    </div>
                </div>
                <div ng-hide="mensajes_enviados">
                    <h1 class="mensaje">MENSAJES ENVIADOS</h1>
                    <div class="mensaje" id="pg_3" ng-repeat="mensajeSendbox in mensajesSendbox">
                        <div class="row" align="center">
                            <div class="col-md-2" align="center"><div class="color"></div></div>
                            <div class="col-md-10">
                                <h4 class="titulo">{{mensajeSendbox.destinatario}}</h4><br>
                                <h5 class="titulo"><span style="text-transform: capitalize;color: navy;">asunto: </span>{{mensajeSendbox.asunto}}</h5>
                            </div>
                        </div>
                        <p>{{mensajeSendbox.mensaje}}</p>
                    </div>
                </div>
            </div>
            <div style="text-align: left;width: 100%;height: 140px;">
                <h1 class="titulo_mensaje">Mensajes</h1>
            </div>
            <div class="info_sesiones">
                <div class="row" align="center">
                    <div class="col-md-3" id="info" style="margin-left: -290px;margin-top: 15px;">
                        <h5>Visitas realizadas por los usuarios del sistema</h5>
                    </div>
                    <div class="col-md-3" align="center" id="info" style="margin-left: -120px;">
                        <h5>Visitas</h5>
                        <h1>{{sesionesTotales}}</h1>
                    </div>
                    <div class="col-md-3" align="center" id="info" style="margin-left: -30px;">
                        <h5>Hoy</h5>
                        <h1>{{sesionesDia}}</h1>
                    </div>
                    <div class="col-md-3" align="center" id="info" style="margin-left: -30px;">
                        <h5>Semana</h5>
                        <h1>{{sesionesSemana}}</h1>
                    </div>
                </div>													
            </div>
            <div class="soporte" style="background: #EA077C !important;">
                <div class="row" align="center" style="opacity: 0;">
                    <div class="col-md-3" id="soporte-imagen">
                        <img id="icono" src="iconos/blancos/30-blanco.png">
                    </div>
                    <div class="col-md-9" align="center" id="info">
                        <h1>Centro de soporte</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <button class="soporte_boton">Servicio en Línea</button>
                    </div>
                </div>													
            </div>
        </div>		
    </div>
</section>
<!-- Pie de pagina -->
<section class="pie_de_pagina">
    <footer>
        <h3 class="titulo">ETRAINING © COPYRIGHT 2016</h3>
    </footer>
</section>

<script>
    /* Calendario */
    var dia_calendario = document.getElementById("dia_calendario").innerHTML;
    var fecha_completa = Date().split("GMT");
    var fecha = fecha_completa[0].split(" ");
    var año = fecha[3].split("");
    if (fecha[1] == "Jan") {
        fecha[1] = "01";
    }
    if (fecha[1] == "Feb") {
        fecha[1] = "02";
    }
    if (fecha[1] == "Mar") {
        fecha[1] = "03";
    }
    if (fecha[1] == "Apr") {
        fecha[1] = "04";
    }
    if (fecha[1] == "May") {
        fecha[1] = "05";
    }
    if (fecha[1] == "Jun") {
        fecha[1] = "06";
    }
    if (fecha[1] == "Jul") {
        fecha[1] = "07";
    }
    if (fecha[1] == "Aug") {
        fecha[1] = "08";
    }
    if (fecha[1] == "Sep") {
        fecha[1] = "09";
    }
    if (fecha[1] == "Oct") {
        fecha[1] = "10";
    }
    if (fecha[1] == "Nov") {
        fecha[1] = "11";
    }
    if (fecha[1] == "Dec") {
        fecha[1] = "12";
    }
    document.getElementById("dia_calendario").innerHTML = fecha[2];
    document.getElementById("mes_calendario").innerHTML = fecha[1];
    document.getElementById("año_calendario").innerHTML = año[2] + año[3];
</script>



