<section class="modulo_sesiones modulos_sections formulario_registro" ng-controller="historiasMedicasCtrl" style="background-color:#aaa !important;">
  <div class="row" align="center" >
    <div class="col-md-8" align="center">
      <h1 class="titulo titulo_principal" style="padding-bottom: 0px;">Historia Médica</h1>
    </div>
    <div class="col-md-4" align="center" ng-show="!divRegistro && !divConsulta">
        <h3 class="titulo" style="padding-bottom: 0px;">Consultar Historia Médica <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Historia" ><i class="fa fa-search" aria-hidden="true"></i></button></h3>
    </div>
    <div class="col-md-4" ng-show="(divRegistro || divConsulta) && divUsuario" style="margin-top:7px"><h4 class="titulo"><button type="button" class="btn btn-primary addCategoria" ng-click="regresar_usuario()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button> {{usuario.nombre}}</h4></div>
  </div>
  <form action="demo_form.asp" align="center" ng-submit="guardar_historia()">
    <div class="row" align="center" ng-show="divRegistro">
      <div class="col-md-6 form_izq">
      <h4 class="titulo_formulario">Datos personales</h4>  
        <input type="text" class="entrada" ng-model="historia.nombre" placeholder="Nombre" required><br>
        <select id="tipoid" class="entrada_select" ng-model="historia.tipoid" ng-options="tipoID as tipoID.nombre for tipoID in listaTipoID track by tipoID.nombre" required>
        <option value="" disabled selected>Tipo de Identificación</option> 
        </select><br>
        <input type="number" class="entrada" placeholder="Número de identificación" ng-model="historia.identi" required><br>
        <div align="center">Fecha de nacimiento<input type="text" id="datepicker" class="entrada_nacimiento" placeholder="DD | MM | AA" ng-model="historia.fechanacimiento" ><br></div>
        <div align="left">
          <input id="edades" type="number" class="entrada_edad" ng-model="historia.edad" placeholder="Edad" required>
        Sexo <input type="radio" name="sexo" class="input_sexo" value="M" ng-model="historia.sexo" checked>M<input type="radio" name="sexo" class="input_sexo" value="F" ng-model="historia.sexo" required>F<br>
        </div>
        <h4 class="titulo_formulario">Datos de contacto</h4>
        <input type="number" class="entrada_telefonos" placeholder="Telefono" ng-model="historia.telefono" required><input type="number" class="entrada_telefonos" placeholder="Celular" ng-model="historia.celular" required><br>
        <input type="email" class="entrada" placeholder="Correo electrónico" ng-model="historia.correo" required><br>
        <input type="text" class="entrada" placeholder="Ciudad de origen" ng-model="historia.ciudad" required><br>
        <select id="estrato" type="number" class="entrada_select" ng-model="historia.estrato" required>
          <option value="" selected disabled required>Estrato</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select><br>
      </div>
      <div class="col-md-6 form_der">
        <h4 class="titulo_formulario">Datos diagnostico</h4>
        <select id="nivel_edu" class="entrada_select" ng-model="historia.niveleducativo" ng-options="nivel as nivel.nombre for nivel in listaNivelEducativo track by nivel.nombre" required>
        <option value="" disabled selected>Nivel Educativo</option>
        </select><br>
        Oido en que usa la ayuda auditiva <input type="radio" name="ayuda" class="input_ayuda" value="der" ng-model="historia.oidoayuda" checked required>Der.<input type="radio" name="ayuda" class="input_ayuda" ng-model="historia.oidoayuda" value="izq">Izq.<input type="radio" name="ayuda" class="input_ayuda" ng-model="historia.oidoayuda" value="ambos">Bilateral.<br>
        <div align="right">
        <!-- Edad Diagnostico PA (Pérdida auditiva)<input id="edad_p" type="number" class="entrada_diag_ayuda" ng-model="historia.edaddiagnosticopa" required><br> -->
        Edad Diagnostico PA (Pérdida auditiva)<select id="edad_p" class="entrada_diag_ayuda" ng-model="historia.edaddiagnosticopa">
        <option value="" selected disabled required>Seleccione...</option>
        <option value="1">1 año</option>
        <option value="2">2 años</option>
        <option value="3">3 años</option>
        <option value="4">4 años</option> 
        <option value="5">5 años</option>
        <option value="mas de 5 años">más de 5 años</option>
        <option value="menos de 1 año">menos de 1 año</option>
        </select><br>
        Tipo ayuda auditiva<select id="nivel_edu" class="entrada_historia" ng-model="historia.tipoayuda" ng-options="ayuda as ayuda.nombre for ayuda in listaTipoAyuda track by ayuda.nombre" required>
        <option value="" selected disabled>Seleccione...</option>
        </select><br>
        Tipo de Rehabilitación<select id="uso" class="entrada_historia" ng-model="historia.formauso" ng-options="rehabilitacion as rehabilitacion.nombre for rehabilitacion in listaTipoRehabilitacion track by rehabilitacion.nombre" required>
        <option value="" selected disabled>Seleccione...</option>
        </select><br>
        <!-- Edad de Adaptación<input id="uso" type="number" class="entrada_historia" ng-model="historia.edadadaptacion" required><br> -->
        Edad de Adaptación<select id="uso" class="entrada_historia" ng-model="historia.edadadaptacion" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="1">1 año</option>
        <option value="2">2 años</option> 
        <option value="3">3 años</option>
        <option value="4">4 años</option> 
        <option value="5">5 años</option>
        <option value="mas de 5 años">más de 5 años</option> 
        <option value="menos de 1 año">menos de 1 año</option>
        </select><br>

        <!-- las cosas de aquí a adelante no están conectadas con el ng.model -->

        Forma de Uso<select id="uso" class="entrada_historia" ng-model="historia.tiporehab" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="Permanente">Permanente</option>
        <option value="Inconsistente">Inconsistente</option>
        <option value="No aplica">No aplica</option> 
        </select><br> 

        Diagnóstico Asociado<select class="entrada_historia" ng-model="historia.diagnosticoasociado" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="Ninguno">Ninguno</option>
        <option value="Autismo">Autismo</option> 
        <option value="Cognitivo">Cognitivo</option>
        <option value="Motor">Motor</option>
        <option value="Neurológico">Neurológico</option>
        <option value="Visual">Visual</option>
        <option value="Neuropatia">Neuropatia</option>
        </select><br>
 
        Código Linguístico<select class="entrada_historia" ng-model="historia.codigolinguistico" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="Ninguno">Ninguno</option>
        <option value="Autismo">Oral</option>
        <option value="Cognitivo">LSC</option>
        </select><br>

        <div align="center">
		Fecha de cirugía  <input type="text" class="entrada_nacimiento" placeholder="DD | MM | AA" style="width:250px" ng-model="historia.fechacirugia" required><br>
		</div>

		Reimplante <select class="entrada_historia" ng-model="historia.reimplante" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="No">No</option>
        <option value="1 vez">Sí, 1 vez</option> 
        <option value="2 veces">Sí, 2 veces</option>
        </select><br>

        </div> <!--aquí cierro el col2-->
        </div>
        </div>

                <!---->
    <div class="row info_adicional" ng-show="divRegistro">
    <div align="center"><h4 class="titulo_formulario">Información Adicional</h4></div>
    <div class="col-md-6 info_adicional">

        <div align="center">
        Fecha de Conexión de Ayuda Auditiva 
        <input type="text" class="entrada_nacimiento" placeholder="DD | MM | AA" style="width:150px" ng-model="historia.fechaconexion" required><br>
        </div>

        <div align="right">
        Sesiones por Semana
        <select class="entrada_historia" ng-model="historia.sesiones" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="1">1</option>
        <option value="2">2</option> 
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="mas de 5 años">más de 5</option>
        </select></div><br>

        <div align="right">
        Tiempo de Rehabilitación
        <select class="entrada_historia" ng-model="historia.tiemporehab" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="1">1 año</option>
        <option value="2">2 años</option>
        <option value="3">3 años</option>
        <option value="4">4 años</option>
        <option value="5">5 años</option>
        <option value="mas de 5 años">más de 6 años</option>
        <option value="menos de 1 año">Menos de 1 año</option>
        </select></div><br>

        <div align="right">
        Interrupciones <select class="entrada_historia" ng-model="historia.interrupciones" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="Si">Si</option>
        <option value="No">No</option> 
        <option value="Parcial">Parcial</option>
        </select></div><br> 

        <div align="center">  
        Lenguaje Comprensivo:(Comprende órdenes sencillas CON ayuda de señalamientos)<br>
        <input type="radio" ng-model="historia.lenguajecomprensivo1" class="input_ayuda" value="Si" name="lenguajecomprensivo1" checked required>Sí.
        <input type="radio" ng-model="historia.lenguajecomprensivo1" class="input_ayuda" value="No" name="lenguajecomprensivo1">No.<br></div><br>
        
        <div align="center"> 
        Lenguaje Comprensivo:(Comprende órdenes sencillas SIN señalamientos(auditivo))<br>
        <input type="radio" class="input_ayuda" value="Si" ng-model="historia.lenguajecomprensivo2" name="lenguajecomprensivo2" checked required>Sí.
        <input type="radio" class="input_ayuda" value="No" ng-model="historia.lenguajecomprensivo2" name="lenguajecomprensivo2">No.
        <input type="radio" class="input_ayuda" value="Sin valoracion" ng-model="historia.lenguajecomprensivo2" name="lenguajecomprensivo2">Sin valoración.<br></div><br>
        
        <div align="center"> 
        Lenguaje Expresivo:(produce Vocalizaciones)<br>
        <input type="radio" class="input_ayuda" value="Si" ng-model="historia.lenguajeexpresivo1" name="lenguajeexpresivo1" checked required>Sí.
        <input type="radio" class="input_ayuda" value="No" ng-model="historia.lenguajeexpresivo1" name="lenguajeexpresivo1">No.<br></div><br>

        <div align="center"> 
        Lenguaje Expresivo:(Dice palabras sueltas)<br>
        <input type="radio" name="" class="input_ayuda" value="Si" ng-model="historia.lenguajeexpresivo2" name="lenguajeexpresivo2" checked required>Sí.
        <input type="radio" name="" class="input_ayuda" value="No" ng-model="historia.lenguajeexpresivo2" name="lenguajeexpresivo2">No.<br></div><br>

        <div align="center"> 
        Lenguaje Expresivo:(Expresa oraciones sencillas)<br>
        <input type="radio" class="input_ayuda" value="Si" ng-model="historia.lenguajeexpresivo3" name="lenguajeexpresivo3" checked required>Sí.
        <input type="radio" class="input_ayuda" value="No" ng-model="historia.lenguajeexpresivo3" name="lenguajeexpresivo3">No.<br></div><br>
         
        <div align="center"> 
        Asistencia a programación y seguimiento<br>
        <input type="radio" name="" class="input_ayuda" value="Si" ng-model="historia.seguimiento" name="seguimiento" checked required>Sí.
        <input type="radio" name="" class="input_ayuda" value="No" ng-model="historia.seguimiento" name="seguimiento">No.<br></div><br>

        </div>
        <div class="col-md-6 info_adicional">

        <div align="center">
        Fecha última programación de la ayuda auditiva 
        <input type="text" class="entrada_nacimiento" placeholder="DD | MM | AA" ng-model="historia.fechaprogramacion" style="width:150px" required><br>
        </div>

        <div align="center">
        Fecha última audiometría 
        <input type="text" class="entrada_nacimiento" placeholder="DD | MM | AA" ng-model="historia.fechaaudiometria" style="width:150px" required><br>
        </div>

        <div align="right">
        Tipo de Institución Educativa 
        <select class="entrada_historia" ng-model="historia.tipoinsteducativa" required>
        <option value="" selected disabled>Seleccione...</option>
        <option value="Regular">Regular</option>
        <option value="Bilingüe">Bilingüe</option>
        <option value="Aula de Apoyo">Aula de Apoyo</option>
        <option value="Aula para Sordos">Aula para Sordos</option> 
        <option value="Educación Especial">Educación Especial</option>
        <option value="Integración con Intérprete (Lengua de Señas)">Integración con Intérprete (Lengua de Señas)</option>
        <option value="No Aplica">No Aplica</option>
        </select></div><br> 

        <div align="center">
        Nombre de la Institución Educativa 
        <input type="text" class="entrada_nacimiento" ng-model="historia.nombreinsteducativa" style="width:250px;" required><br>
        </div>
   <div class="container" align="left">
        <div class="entrada_historia">
		  <h4 align="center">Competencias Lecto-Escritas</h4> 
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial1" ng-true-value="'Reconoce las vocales'" >Reconoce las vocales</label>
		    </div> 
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial2" ng-true-value="'Escribe las vocales'" >Escribe las vocales</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial3" ng-true-value="'Reconoce el abecedario'" >Reconoce el abecedario</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial4" ng-true-value="'Escribe el abecedario'" >Escribe el abecedario</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial5" ng-true-value="'Puede Leer'" >Puede Leer</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial6" ng-true-value="'Puede Escribir'" >Puede Escribir</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial7" ng-true-value="'Puede Tomar Dictados'" >Puede Tomar Dictados</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competencial8" ng-true-value="'Ninguna'" >Ninguna</label>  
		    </div> 
		</div>
		</div> 

		<div class="container" align="left">
        <div class="entrada_historia">
		  <h4 align="center">Competencias Matemáticas</h4>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competenciam1" ng-true-value="'Conoce y cuenta los números hasta 10'" >Conoce y cuenta los números hasta 10</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competenciam2" ng-true-value="'Suma'" >Suma</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competenciam3" ng-true-value="'Resta'" >Resta</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competenciam4" ng-true-value="'Divide'" >Divide</label>
		    </div>
		    <div class="checkbox">
		      <label><input type="checkbox" ng-model="historia.competenciam5" ng-true-value="'Multiplica'" >Multiplica</label>
		    </div>
		    <div class="checkbox"> 
		      <label><input type="checkbox" ng-model="historia.competenciam6" ng-true-value="'Ninguna'" >Ninguna</label>
		    </div>
		</div>
		</div>

    </div>
    </div>    
        <!---->

        <!-- </div>
      </div> -->
    </div>
    <!-- aquí se consulta la info -->
    <div class="row" align="center" ng-show="divConsulta">
      <div class="col-md-6 form_izq">
      <h4 class="titulo_formulario">Datos personales</h4>
      <div align="right">
        Nombre
        <input type="text" class="entrada" value="{{historiaC.Nombre}}" style="width:65%" disabled><br>
        Documento de Identificación
        <input type="text" id="tipoid" class="entrada_select" value="{{historiaC.TipoID.nombre}}" style="width:65%" disabled><br>
        Número de Identificacion
        <input type="number" class="entrada" value="{{historiaC.Identificacion}}" style="width:65%" disabled><br>
        </div>
        <div align="center">Fecha de nacimiento<input type="text" class="entrada_nacimiento" value="{{historiaC.FechaNacimiento}}" disabled><br></div>
        <div align="left">
        <div align="right">
          Edad <input id="edades" type="number" class="entrada_edad" value="{{historiaC.Edad}}" disabled><br>
          Sexo <input type="text" class="entrada_edad" value="{{historiaC.Sexo}}" disabled>
        </div>
        <h4 class="titulo_formulario">Datos de contacto</h4>
        <div align="center">
        Teléfono(s)
        <input type="number" class="entrada_telefonos" value="{{historiaC.Telefono}}" style="width:30%;" disabled><input type="number" class="entrada_telefonos" value="{{historiaC.Celular}}" style="width:30%;" disabled><br>
        E-mail
        <input type="email" class="entrada" value="{{historiaC.Correo}}"  style="width:30%;" disabled><br>
        Ciudad
        <input type="text" class="entrada" value="{{historiaC.Ciudad}}" style="width:30%;" disabled><br>
        Estrato
        <input id="estrato" type="number" class="entrada_select" value="{{historiaC.Estrato}}" style="width:30%;" disabled><br>
        </div> 
      </div>
      <div class="col-md-6 form_der" style="width:100%;">
        <h4 class="titulo_formulario">Datos diagnostico</h4>
        <div align="right">
        Nivel Educativo
        <input align="right" type="text" class="entrada_historia" value="{{historiaC.NivelEducativo.nombre}}" disabled><br>
        Oido en que usa la ayuda auditiva
        <input align="right" type="text" class="entrada_historia" value="{{historiaC.OidoAyuda}}" disabled><br>
        Edad Diagnostico PA (Pérdida auditiva)
        <input id="edad_p" type="text" class="entrada_diag_ayuda" value="{{historiaC.EdadDiagnosticoPA}}" disabled><br>
        Tipo ayuda auditiva
        <input type="text" id="nivel_edu" class="entrada_historia" value="{{historiaC.TipoAyuda.nombre}}" disabled><br>
        Forma de uso
        <input type="text" id="uso" class="entrada_historia" value="{{historiaC.FormaUso.nombre}}" disabled><br>
        Edad de Adaptación
        <input id="uso" type="text" class="entrada_historia" value="{{historiaC.EdadAdaptacion}}" disabled><br>

        <!--lo nuevo-->

        Diagnóstico        
        <input type="text" class="entrada_historia" value="{{historiaC.DiagnosticoAsociado}}" disabled><br>
        Código Linguístico
        <input type="text" class="entrada_historia" value="{{historiaC.CodigoLinguistico}}" disabled><br>
        Fecha De Cirugía
        <input type="text" class="entrada_historia" value="{{historiaC.FechaCirugia}}" disabled><br>
        Reimplante
        <input type="text" class="entrada_historia" value="{{historiaC.Reimplante}}" disabled><br>
        Fecha de Conexión
        <input type="text" class="entrada_historia" value="{{historiaC.FechaConexion}}" disabled><br>
    </div>
    </div>
    </div>

    <div class="row info_adicional" ng-show="divConsulta">
    <h4 class="titulo_formulario">Información Adicional</h4>
    <div class="col-md-6 info_adicional" align="right">

        Sesiones Semanales<input type="text" class="entrada_historia" value="{{historiaC.Sesiones}}" disabled><br>
        Tiempo de Rehabilitación<input type="text" class="entrada_historia" value="{{historiaC.TiempoRehab}}" disabled><br>
        Interrupciones<input type="text" class="entrada_historia" value="{{historiaC.Interrupciones}}" disabled><br> 

        Comprende órdenes sencillas CON ayuda de señalamientos
        <input type="text" class="entrada_historia" value="{{historiaC.LenguajeComprensivo1}}" style="width:50px;" disabled><br>

        Comprende órdenes sencillas SIN señalamientos(auditivo)
        <input type="text" class="entrada_historia" value="{{historiaC.LenguajeComprensivo2}}" style="width:50px;" disabled><br>

        Produce Vocalizaciones 
        <input type="text" class="entrada_historia" value="{{historiaC.LenguajeExpresivo1}}" style="width:50px;" disabled><br>

        Dice palabras sueltas
        <input type="text" class="entrada_historia" value="{{historiaC.LenguajeExpresivo2}}" style="width:50px;" disabled><br>

        Expresa oraciones sencillas
        <input type="text" class="entrada_historia" value="{{historiaC.LenguajeExpresivo3}}" style="width:50px;" disabled><br>

        Asiste a programación y seguimiento
        <input type="text" class="entrada_historia" value="{{historiaC.Seguimiento}}" style="width:50px;" disabled><br>

    </div>
    <div class="col-md-6 info_adicional" align="right">

        Ultima programación de la ayuda auditiva
        <input type="text" class="entrada_historia" value="{{historiaC.FechaProgramacion}}" style="width:100px;" disabled><br>

        Ultima audiometría
        <input type="text" class="entrada_historia" value="{{historiaC.FechaAudiometria}}" style="width:100px;" disabled><br>

        Tipo de Institución Educativa
        <input type="text" class="entrada_historia" value="{{historiaC.TipoInstEducativa}}" disabled><br>  
  
        Nombre de la Institución Educativa
        <input type="text" class="entrada_historia" value="{{historiaC.NombreInstEducativa}}" disabled><br> 

        <div class="container" align="left">
        <div class="entrada_historia">
        <div align="center"><h4>Competencias Lecto - Escritoras</h4></div>
        {{historiaC.CompetenciaL1}}<br>
        {{historiaC.CompetenciaL2}}<br>
        {{historiaC.CompetenciaL3}}<br>
        {{historiaC.CompetenciaL4}}<br>
        {{historiaC.CompetenciaL5}}<br> 
        {{historiaC.CompetenciaL6}}<br> 
        {{historiaC.CompetenciaL7}}<br> 
        {{historiaC.CompetenciaL8}}<br>
        </div>  
        </div>

        <div class="container" align="left">
        <div class="entrada_historia">
        <div align="center"><h4>Competencias Matemáticas</h4></div>
        {{historiaC.CompetenciaM1}}<br>
        {{historiaC.CompetenciaM2}}<br>
        {{historiaC.CompetenciaM3}}<br>
        {{historiaC.CompetenciaM4}}<br>
        {{historiaC.CompetenciaM5}}<br>
        {{historiaC.CompetenciaM6}}<br> 
        </div>
        </div>

    </div>
    </div>
        <!--lo nuevo-->


        </div>
      </div>
    </div>
    <input type="submit" class="boton_envio" value="Guardar cambios" ng-show="divRegistro">
    <a  ui-sref="app.dashboard"><button class="boton_cancelar" value="Cancelar" ng-show="divRegistro">Cancelar</button></a>
  </form>

  <div ng-show="divConsulta">
    <div align="center">
            <h1 class="titulo">Comentarios Historia Médica <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Comentarios" ng-show="divUsuario"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
    </div>          
    <div class="lineadetiempo">
      <div class="row comentario" ng-repeat="comentario in comentarios">
        <div class="col-md-5 fecha">
          <span class="cd-date">{{comentario.fecha}}</span>
        </div>
        <div class="col-md-1  lineadetiempo_img">
          <img src="img/cd-icon-location.svg" alt="Picture">
        </div>
        <div class="col-md-6  lineadetiempo_contenido">
          <h2>{{comentario.Profesional}}</h2>
          <p>{{comentario.Texto}}</p>
        </div>       
      </div>
    </div>
  </div>
  <!-- Lista de usuarios -->
  <div ng-hide="divConsulta || divRegistro" class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-2">Nombre usuario</div>
          <div class="col-md-2">Identificación</div>
          <div class="col-md-3">Email</div>
          <div class="col-md-1">Habilitado</div>         
          <div class="col-md-1" align="center">Historia médica</div>
      </div>
      <div class="row fila_usuarios" ng-repeat="usuario in listUsuarios">
            <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
            <div class="col-md-2">{{usuario.nombre_usuario}}</div>
            <div class="col-md-2">{{usuario.identificacion}}</div>
            <div class="col-md-3">{{usuario.email}}</div>
            <div class="col-md-1">
              <div ng-if = "usuario.habilitado">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div ng-if = "!usuario.habilitado"> 
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>            
            <div class="col-md-1 boton_editar_historia" align="center" ng-click="editar_usuario(usuario)"><p><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></p></div>
      </div>
    </div> 
  </div>


<!--Modal de cosulta-->
<div class="modal fade" id="Modal_Historia" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;" class="modal-title titulo">Consulta o Edita una Historia Médica</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="get_usuario()">
                <div class="form-group">
                  <label for="profesor">Identificación</label>
                  <input name="titulo"  ng-model="identificacion" type="number" class="form-control" id="titulo" placeholder="Número de identificación" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Consultar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de comentarios-->
<div class="modal fade" id="Modal_Comentarios" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;" class="modal-title titulo">Ingresa un comentario a la Historia Médica</h2>
        </div>
        <div class="modal-body">
        <form ng-submit="guardar_comentario()">
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="comentario.Texto" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Enviar Comentario</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>
</section>

<style type="text/css">
	::-webkit-input-placeholder { 
   color: white;
}
</style>
