
<!--Seccion de informacion-->
<section class="modulos_sections">
<section class="horario-panel">
  	<div class="col-md-12">
      <div class="row" align="center">
        <div class="col-md-4" align="center">
          <div>
            <h3 class="titulo"><img id="iconos" src="iconos/azules/10-azul.png"> Tipos ayudas auditivas <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_ayudas_auditivas" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h3>
            <div class="list-group">
                  <div>
                  <div ng-repeat="ayuda_auditiva in ayudas_auditivas" class="list-group-item">
                    <button class="close" ng-click="eliminar_ayuda_auditiva(ayuda_auditiva)" aria-label="close">&times;</button>
                      <h4 class="list-group-item-heading">{{ayuda_auditiva.nombre}}</h4>
                  </div>
                  </div>
            </div>
          </div>
          <div>
            <h3 class="titulo"><img id="iconos" src="iconos/azules/19-azul.png"> Tipos de rehabilitación <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_rehabilitacion" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h3>
            <div class="list-group">
                  <div>
                  <div ng-repeat="rehabilitacion in rehabilitaciones" class="list-group-item">
                    <button class="close" ng-click="eliminar_rehabilitacion(rehabilitacion)" aria-label="close">&times;</button>
                      <h4 class="list-group-item-heading">{{rehabilitacion.nombre}}</h4>
                  </div>
                  </div>
            </div>
          </div>          
        </div>
        <div class="col-md-4 seccion-centro" align="center">	
          <div>
            <h3 class="tituloDerecho"><img id="iconos" src="iconos/blancos/16-blanco.png"> Niveles educativos <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_niveles_educativos" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h3>
              <div class="list-group submodulo-etiquetas">
                    <div class="alert alert-danger" ng-repeat="nivel_educativo in niveles_educativos">
                        <a class="close" ng-click="eliminar_nivel_educativo(nivel_educativo)" aria-label="close">&times;</a>
                        <h4 class="list-group-item-heading">{{nivel_educativo.nombre}}</h4>
                    </div>
              </div>
          </div>
          <div>
            <h3 class="tituloDerecho"><img id="iconos" src="iconos/blancos/18-blanco.png"> Tipos identificación <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_identificacion" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h3>
              <div class="list-group">
                <div  class="alert alert-danger" ng-repeat="identificacion in identificaciones">
                  <a class="close" ng-click="eliminar_identificacion(identificacion)" aria-label="close">&times;</a>
                  <h4 class="list-group-item-heading">{{identificacion.nombre}}</h4>
                </div>
              </div>
          </div>          
        </div>
        <div class="col-md-4 seccion-derecha" align="center"> 
          <div>
            <h3 class="tituloDerecho"><img id="iconos" src="iconos/blancos/14-blanco.png"> Organizaciones <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_organizaciones" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h3>
              <div class="list-group submodulo-etiquetas">
                    <div class="alert alert-danger" ng-repeat="organizacion in organizaciones">
                        <a class="close" ng-click="eliminar_organizacion(organizacion)" aria-label="close">&times;</a>
                        <h4 class="list-group-item-heading">{{organizacion.nombre}}</h4>
                    </div>
              </div>
          </div>         
        </div>
    </div>
</section>

<!--Modal de Tipo ayudas auditivas-->
<div class="modal fade" id="Modal_ayudas_auditivas" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade un nuevo tipo de ayuda auditiva</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_ayuda_auditiva()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="ayuda_auditiva.nombreAyuda_auditiva" type="text" class="form-control" id="titulo" placeholder="Titulo" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear tipo de ayuda auditiva</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de tipos de Rehabilitación-->
<div class="modal fade" id="Modal_rehabilitacion" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade una nuevo tipo de rehabilitación</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_rehabilitacion()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="rehabilitacion.nombreRehabilitacion" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear tipo de rehabilitación</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de niveles educativos-->
<div class="modal fade" id="Modal_niveles_educativos" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Crea un nuevo nivel educativo</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_nivel_educativo()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="nivel_educativo.nombreNivel_educativo" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear nivel educativo</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de tipos de identificacion-->
<div class="modal fade" id="Modal_identificacion" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Crea un nuevo tipo de identificación</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_identificacion()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="identificacion.nombreIdentificacion" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear identificación</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de organizaciones-->
<div class="modal fade" id="Modal_organizaciones" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Ingresa una nueva organización</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_organizacion()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="organizacion.nombreOrganizacion" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear organización</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>
</section>
