<section class="modulos_sections" align="center" ng-controller="competenciasCtrl">
    <!--HABILIDADES AUDITIVAS-->
  	<div class="col-md-12">
      <div class="row" align="center">
      	<div class="col-md-6" align="center">	
    		<h1 class="titulo"><img id="iconos" src="iconos/azules/6-azul.png"> Habilidades auditivas <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_habilidades" ng-show="divAdministrador"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
          <div class="list-group">
              <div>
                  <div ng-repeat="habilidad in habilidades" class="list-group-item">
                      <button class="close" ng-click="eliminar_habilidad(habilidad)" aria-label="close" ng-show="divAdministrador">&times;</button>
                        <h4 class="list-group-item-heading">{{habilidad.Nombre}}</h4>
                        <h5 class="list-group-item-heading">{{habilidad.Comentario}}</h5>
                  </div>
              </div>
          </div>
        </div>
      <!--COMPETENCIAS-->
      	<div class="col-md-6 seccion-derecha" align="center">	
    		<h1 class="tituloDerecho"><img id="iconos" src="iconos/blancos/12-blanco.png"> Competencias <button type="button" class="btn btn-primary addCategoriaDerecho" data-toggle="modal" data-target="#Modal_competencias" ng-show="divAdministrador"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h1>
        <div class="list-group submodulo-etiquetas">
                    <div class="alert alert-danger" ng-repeat="competencia in competencias">
                        <a class="close" ng-click="eliminar_competencia(competencia)" aria-label="close" ng-show="divAdministrador">&times;</a>
                        <strong><h4 class="list-group-item-heading">{{competencia.Nombre}}</h4></strong>
                        <h5 class="list-group-item-heading">{{competencia.Comentario}}</h5>
                    </div>
              </div>
    	</div>
      </div>
	</div>
</section>

<!--Modal de habilidades-->
<div class="modal fade" id="Modal_habilidades" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade una nueva habilidad auditiva</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_habilidad()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="nombre"  ng-model="habilidad.nombreHabilidad" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="habilidad.comentarioHabilidad" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear Habilidad Auditiva</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de competencias-->
<div class="modal fade" id="Modal_competencias" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Añade una nueva Competencia Auditiva</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="guardar_competencia()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="nombre"  ng-model="competencia.nombreCompetencia" type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                   <label for="curso">Comentario</label>
                   <input name="comentario" ng-model="competencia.comentarioCompetencia" type="text" class="form-control" id="comentario" placeholder="Comentario">
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Crear Habilidad Auditiva</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>