<nav class="navbar_dashboard"  ng-controller="indexCtrl">
    <div class="contenedor"> 
        <div class="user_img" style="background-color: white; float: left">
            <img src="img/logo_rosado.png">
        </div>
        <div>
            <a ui-sref="app.dashboard">
                <h1 style="color: navy;margin-top: 30px;"class="navbar-logo"><img style="width: 200px;margin-top: -10px;" src="img/logo-horizontal.png"> {{sesionPerfil}}</h1>
            </a>
        </div>
        <div class="user_img" style="background-color: white;">
            <!-- <img src="img/user.png"> -->
            <img src="img/logo-colciencias-original.png">
            <br><br><br>
            <h4 class="user_name">{{usuario.nombre_usuario}}</h4>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a id="alerta" href="#" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" data-tt="tooltip" title="Alertas recientes"></a>
                    <div class="numero_alertas" ng-show="alertasPerfil"><span class="badge" style="background:#EB2424;border-color:transparent;">{{numeroAlertas}}</span>
                    </div>

                    <ul  class="dropdown-menu" style="width: 200px;text-align: center;">
                        <h6>Alertas Recientes</h6>
                        <li ng-repeat="alerta in alertas" class="user-header bg-light-blue">
                            <p>
                                El usuario: {{alerta.usuario}} <br>con número de documento: {{alerta.doc_usuario}} solicita ser habilitado.     
                            </p>
                            <a ng-click="habilitar(alerta)" class="btn btn-success" style="width: 100%;">Habilitar</a>
                        </li>
                        <li class="user-footer">
                            <div>
                                <!-- <a ng-click="habilitar(alerta)" class="btn btn-success" style="width: 100%;">Habilitar</a> -->
                            </div> 
                        </li>
                    </ul> 
                </li>
                <li><a id="correo" data-toggle="modal" data-target="#Modal_mensajes" data-tt="tooltip" title="Enviar mensaje"></a></li>
                <li class="dropdown"><a id="config"  class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" data-tt="tooltip" title="Cerrar sesión"></a>
                    <ul class="dropdown-menu" style="width: 200px;text-align: center;">
                        <li class="user-header bg-light-blue">
                            <p>
                                {{usuario.nombre}}<br>{{usuario.nombre_usuario}}      
                            </p>
                        </li>
                        <li class="user-footer">
                            <div>
                                <a ng-click="logout()" class="btn btn-danger" style="width: 100%;">Cerrar sesion</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--Modal de mensajes-->
    <div class="modal fade" id="Modal_mensajes" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title titulo">Envia un mensaje a un usuario</h2>
                </div>
                <div class="modal-body">
                    <form ng-submit="guardar_mensaje()">
                        <div class="form-group">
                            <label for="profesor">Destinatario</label>
                            <input name="destinatario"  ng-model="destinatario" type="text" class="form-control" placeholder="Destinatario" required>
                        </div>
                        <div class="form-group">
                            <label for="codigo">Asunto</label>
                            <input name="asunto" ng-model="asunto" type="text" class="form-control" placeholder="Asunto" required>
                        </div>
                        <div class="form-group">
                            <label for="curso">Mensaje</label>
                            <textarea name="mensaje" ng-model="texto" type="text" class="form-control" placeholder="Mensaje" style="height: 100px;"></textarea>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3" align="center">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cerrar</button>
                                    </div>
                                    <div class="col-md-9" align="center">
                                        <button type="submit" class="btn btn-success" style="width:100%;">Enviar</button>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    $("[data-tt=tooltip]").tooltip();
</script>