<div id="sidedownload_inicio" class="siderightnav">
  <a target="_self" id="side_download">
  <div id="download_info">
  <i class="fa fa-times cerrar" aria-hidden="true" id="icono_cerrar_descarga"></i>
    <div class="bs-callout bs-callout-primary">
        <h4>Primer paso</h4>
        <div class="row">
            <div class="col-md-3">
                <img id="iconos_blancos" class="iconos_pasos_descarga" src="iconos/blancos/14-blanco.png">
            </div>
            <div class="col-md-9">
                <p>Lo primero que debes hacer es dar <strong id="link_descarga_letra"  data-toggle="tooltip" data-placement="top" title="Da click para iniciar la descarga!">Click en descargar</strong> para optener el archivo Zip con el software</p>
            </div>
        </div>
    </div>
    <div class="bs-callout bs-callout-primary">
      <h4>Secundo paso</h4>
        <div class="row">
            <div class="col-md-3">
                <img id="iconos_blancos" class="iconos_pasos_descarga" src="iconos/blancos/11-blanco.png">
            </div>
            <div class="col-md-9">
                <p>Luego de finalizar la descarga, el archivo se deberá mover de la carpeta de descargas al escritorio para mayor facilidad.</p>
            </div>
        </div>      
    </div>
    <div class="bs-callout bs-callout-primary">
      <h4>Tercer paso</h4>
        <div class="row">
            <div class="col-md-3">
                <img id="iconos_blancos" class="iconos_pasos_descarga" src="iconos/blancos/28-blanco.png">
            </div>
            <div class="col-md-9">
                <p>Una vez el archivo ZIP se encuentra en el escritorio, descomprimimos la carpeta con la opción <strong>"extraer aquí"</strong>. Luego abrimos el ejecutable <strong>"Escuchame"</strong> y usamos las credenciales asignadas.</p>
            </div>
        </div>      
    </div>
  </div>
  <i class="fa fa-download fa-lg" aria-hidden="true" id="icono_descarga" data-toggle="tooltip" data-placement="bottom" title="Descarga el juego!"></i>
  </a>
</div>
<script>
        /*Tooltip*/
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });  
        /*Scroll scope*/
        $(document).scroll(function() {
            if ($(this).scrollTop()>0)
             {
                $(side_download).fadeOut();
             }
            else
             {
              $(side_download).fadeIn();
             }            
        });
        /*Click open scope*/              
        $(icono_descarga).on('click',function() {
            $(side_download).css("animation","unset");     
            $(sidedownload_inicio).css("height", "93%");
            $(sidedownload_inicio).css("width", "40%");
            $(sidedownload_inicio).css("top","40px");
            $(sidedownload_inicio).css("transition", "width 0.5s, height 0.5s, top 0.75s");
            $(side_download).css("height", "100%");
            $(side_download).css("width", "100%");
            $(side_download).css("padding", "5%");
            $(side_download).css("transition", "width 0.5s, height 0.5s");
            $(icono_descarga).css("display","none");
            $(download_info).css("display","initial");
        });        
        /*Click close scope*/              
        $(icono_cerrar_descarga).on('click',function() {
            $(side_download).css("animation","");     
            $(sidedownload_inicio).css("height", "70px");
            $(sidedownload_inicio).css("width", "100px");
            $(sidedownload_inicio).css("top","160px");
            $(sidedownload_inicio).css("transition", "width 0.5s, height 0.5s, top 0.75s");
            $(side_download).css("height", "70px");
            $(side_download).css("width", "100%");
            $(side_download).css("padding", "0%");
            $(side_download).css("padding-left", "25%");
            $(side_download).css("padding-top", "25px");
            $(side_download).css("transition", "width 0.5s, height 0.5s");
            $(icono_descarga).css("display","initial");
            $(download_info).css("display","none");
        });
        /* */
        $(link_descarga_letra).on('click',function() {
           window.location = "/files/Escuchame.zip";
        });        
</script>