
<div id="side_inicio" class="sidenav">
  <a ui-sref="app.dashboard" id="side_inicio">Inicio</a>
</div>
<div id="side_actividades" class="sidenav">
  <a href="#/app/dashboard#section_actividades" id="side_actividades">Actividades</a>
</div>
<div id="side_evaluacion" class="sidenav">
  <a href="#/app/dashboard#section_evaluacion" id="side_evaluacion">Evaluacion</a>
</div>
<div id="side_registro" class="sidenav">
  <a href="#/app/dashboard#section_registro" id="side_registro">Registro</a>
</div>
<div id="side_seguridad" class="sidenav">
  <a href="#/app/dashboard#section_seguridad" id="side_seguridad">Seguridad y monitoreo</a>
</div>

<script>
        /* Side bar */
        $(side_inicio).hover(function openNav() {
            document.getElementById("side_inicio").style.width = "200px";
        });
        $(side_actividades).hover(function openNav() {
            document.getElementById("side_actividades").style.width = "200px";
        });
        $(side_evaluacion).hover(function openNav() {
            document.getElementById("side_evaluacion").style.width = "200px";
        });
        $(side_registro).hover(function openNav() {
            document.getElementById("side_registro").style.width = "200px";
        }); 
        $(side_seguridad).hover(function openNav() {
            document.getElementById("side_seguridad").style.width = "200px";
        });
        $(side_inicio).mouseout(function closeNav() {
            document.getElementById("side_inicio").style.width = "40px";
        });     
        $(side_actividades).mouseout(function openNav() {
            document.getElementById("side_actividades").style.width = "40px";
        });
        $(side_evaluacion).mouseout(function openNav() {
            document.getElementById("side_evaluacion").style.width = "40px";
        });
        $(side_registro).mouseout(function openNav() {
            document.getElementById("side_registro").style.width = "40px";
        }); 
        $(side_seguridad).mouseout(function openNav() {
            document.getElementById("side_seguridad").style.width = "40px";
        }); 
</script>