<section class="modulo_sesiones modulos_sections formulario_registro" ng-controller="acudientesCtrl" align="center">
  <div class="row" align="center">
    <div class="col-md-8" align="center">
      <h1 class="titulo titulo_principal" style="padding-bottom: 0px;">Acudientes asociados a pacientes</h1>
    </div>
    <div class="col-md-4" align="center" ng-hide="divUsuario" >
        <h3 class="titulo">Buscar Usuario <button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Consulta" ><i class="fa fa-search" aria-hidden="true"></i></button></h3>
    </div>
    <div class="col-md-4" ng-show="divUsuario" style="margin-top:7px"><h4 class="titulo"><button type="button" class="btn btn-primary addCategoria" ng-click="regresar_usuario()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button> {{usuario.nombre}}</h4></div>
  </div>

  <div ng-hide="divUsuario" class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-2">Nombre usuario</div>
          <div class="col-md-2">Identificación</div>
          <div class="col-md-2">Email</div>
          <div class="col-md-1">Habilitado</div>         
          <div class="col-md-2" align="center">Ver acudientes</div>
      </div>
      <div class="row fila_usuarios" ng-repeat="usuario in listUsuarios">
            <div class="col-md-3" style="padding-left: 15px;">{{usuario.nombre}}</div>
            <div class="col-md-2">{{usuario.nombre_usuario}}</div>
            <div class="col-md-2">{{usuario.identificacion}}</div>
            <div class="col-md-2">{{usuario.email}}</div>
            <div class="col-md-1">
              <div ng-if = "usuario.habilitado">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div ng-if = "!usuario.habilitado">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>            
            <div class="col-md-2 boton_editar_historia" align="center" ng-click="editar_usuario(usuario)"><p><i class="fa fa-search fa-lg" aria-hidden="true"></i></p></div>
      </div>
    </div> 
  </div>

    <div class="lista_acudientes" align="center" ng-show="divUsuario">
      <div class="row" align="center">
        <div class="col-md-8" align="center">
          <h2 class="titulo titulo_principal" style="padding-bottom:0;margin-bottom:0;">Acudientes de {{usuario.nombre}}</h2>
        </div>
        <div class="col-md-4" align="center">
          <h4 class="titulo" style="color:#631041;margin-bottom:0;">Agregar nuevo acudientes <button type="button" style="color:#631041;" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Agregar" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h4>
        </div>
      </div>
      <div class="list-group subdomulo etiquetas acudiente_lista">
        <div ng-repeat="acudiente in acudientes" class="list-group-item">
          <div class="row" align="center">
            <div class="col-md-1" align="center">
                <i class="fa fa-user fa-lg" style="color:#A7196D;" aria-hidden="true"></i>
            </div>
            <div class="col-md-11" align="left">
                <h4 class="list-group-item-heading">{{acudiente.NombreAcudiente}}</h4>
            </div>
          </div> 
          <div class="row" align="center">
            <div class="col-md-1" align="center">
                <i class="fa fa-mobile fa-lg" style="color:#A7196D;" aria-hidden="true"></i>
            </div>
            <div class="col-md-11" align="left">
                <h4 class="list-group-item-heading">{{acudiente.TelefonoAcudiente}}</h4>
            </div>
          </div> 
          <div class="row" align="center">
            <div class="col-md-1" align="center">
                <i class="fa fa-envelope-o fa-lg" style="color:#A7196D;" aria-hidden="true"></i>
            </div>
            <div class="col-md-11" align="left">
                <h4 class="list-group-item-heading">{{acudiente.CorreoAcudiente}}</h4>
            </div>
          </div> 
          <div class="row" align="center">
            <div class="col-md-1" align="center">
                <i class="fa fa-location-arrow fa-lg" style="color:#A7196D;" aria-hidden="true"></i>
            </div>
            <div class="col-md-11" align="left">
                <h4 class="list-group-item-heading">{{acudiente.DireccionAcudiente}}</h4>
            </div>
          </div>                                                                
        </div>
      </div>
    </div><!-- Lista de acudientes -->

<!--Modal de cosulta-->
<div class="modal fade" id="Modal_Consulta" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;margin-bottom:0px;text-align:left;" class="modal-title titulo">Agrega o Consulta los Acudientes de un Usuario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="get_usuario()">
                <div class="form-group">
                  <label for="profesor">Identificación</label>
                  <input name="titulo"  ng-model="identificacion" type="number" class="form-control" id="titulo" placeholder="Número de identificación" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Consultar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de agregar acudientes-->
<div class="modal fade" id="Modal_Agregar" ng-model="Modal_Consulta" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo" style="text-align:left;padding-bottom:0;margin-bottom:0;">Añade un nuevo acudiente</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="agregar_acudiente()">
                <div class="form-group">
                  <label for="profesor">Nombre</label>
                  <input name="titulo"  ng-model="acudiente.NombreAcudiente" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                  <label for="profesor">Teléfono</label>
                  <input name="titulo"  ng-model="acudiente.TelefonoAcudiente" type="number" class="form-control" id="nombre" placeholder="Teléfono" required>
                </div>
                <div class="form-group">
                   <label for="curso">Correo electrónico</label>
                   <input name="comentario" ng-model="acudiente.CorreoAcudiente" type="text" class="form-control" id="comentario" placeholder="Correo electrónico" required>
                </div>
                <div class="form-group">
                   <label for="curso">Dirección</label>
                   <input name="comentario" ng-model="acudiente.DireccionAcudiente" type="text" class="form-control" id="comentario" placeholder="Dirección" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Agregar Acudiente</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>