<header class="header">
    
    <ng-include src="'partials/includes/navbar.html'" ></ng-include>
</header>

<!--Inicio de SideBar-->
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side navegation bar -->
    <aside class="left-side sidebar-offcanvas" >
        <ng-include src="'partials/includes/sidebar.html'" ></ng-include>
    </aside>
    <!-- Right side download bar -->
    <aside class="right-side sidebar-offcanvas" >
        <ng-include src="'partials/includes/sidedownload.html'" ></ng-include>
    </aside>

</div>
<!--Fin de SideBar-->

<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content" ui-view>

    </section><!-- /.content -->
</aside>
