<section ng-controller="evaluacionCtrl">
<h1>Ajustes evaluacion</h1>
<div class="col-md-2 draggable-objects" align="center">	
    <h1 class="tituloDerecho">Competencias</h1>
    <div class="list-group submodulo-etiquetas">
        <div class="alert alert-info" ng-repeat="competencia in competencias">
            <div ng-drag="true" ng-drag-data="competencia" data-allow-transform="true">
                <strong><h4 class="list-group-item-heading">{{competencia.Nombre}}</h4></strong>
                <h5 class="list-group-item-heading">{{competencia.Comentario}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10" align="center">
    <h1 class="titulo">Actividades</h1>
    <div class="list-group">
        <div ng-repeat="enlace in enlaces_materia" class="list-group-item" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
	            <h4 class="list-group-item-heading">{{enlace.Titulo}}</h4>
	            <h3 class="list-group-item-heading">{{enlace.Habilidad}}</h3>
	            <h5 class="list-group-item-heading">{{enlace.Comentario}}</h5>
                <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                    {{obj.name}}
                </div>
        </div>
    </div>
</div>
</section>