<section  class="modulos_sections modulo_sesiones modulo_usuario" ng-controller="audiosCtrl" align="center">
 
  <div class="row" align="center">
    <div class="col-md-8"><h1 class="titulo titulo_principal">Biblioteca de audios</h1></div>
    <div class="col-md-4" ng-show="divBuscarUsuario"><h3 class="titulo">Buscar Usuario<button type="button" class="btn btn-primary addCategoria" data-toggle="modal" data-target="#Modal_Usuario"><i class="fa fa-search" aria-hidden="true"></i></button></h3></div>
    <div class="col-md-4" ng-show="divBuscarHabilidad" style="margin-top:7px"><div ng-if="divEspecialista == true"><h4 class="titulo"><button type="button" class="btn btn-primary addCategoria" ng-click="regresar_usuario()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button> {{usuario.nombre}}</h4></div></div>
    <div class="col-md-4" ng-show="divBuscarActividad" style="margin-top:7px"><h4 class="titulo"><button type="button" class="btn btn-primary addCategoria" ng-click="regresar_habilidad()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button> {{habilidad.Nombre}}</h4></div>
  </div>
  <!-- Lista de usuarios -->
  <div ng-show="divBuscarUsuario" class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-3">Nombre</div>
          <div class="col-md-2">Nombre usuario</div>
          <div class="col-md-2">Identificación</div>
          <div class="col-md-2">Email</div>
          <div class="col-md-2">Habilitado</div>
          <div class="col-md-1">Consultar</div>
      </div>
      <div class="row fila_usuarios" ng-repeat="user in listaUsuariosHabilitados"> 
            <div class="col-md-3" style="padding-left: 15px;">{{user.nombre}}</div>
            <div class="col-md-2">{{user.nombre_usuario}}</div>
            <div class="col-md-2">{{user.identificacion}}</div>
            <div class="col-md-2">{{user.email}}</div>
            <div class="col-md-2">
              <div ng-if = "user.habilitado">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div ng-if = "!user.habilitado">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-md-1" align="center"><button style="margin-top:-6px" type="button" class="btn btn-primary addCategoria" data-toggle="modal" ng-click="seleccionar_usuario(user)"><i class="fa fa-list fa-lg" aria-hidden="true"></i></i></button></div>
      </div>
    </div>
  </div>

<section class="section_actividades" id="section_actividades" ng-show="divBuscarHabilidad">
	<div class="row seccion_modulos" align="center" style="width: 100% !important;margin: 0 10.75% !important;">
		<a ng-repeat="habilidad in listaHabilidades" ng-click="seleccionar_habilidad(habilidad)">
		<div class="col-md-4" id="modulos" style="max-width: 180.66px;">
			<div>			
				<img id="iconos_negros" src="iconos/habilidades/negros/{{$index + 1}}-negro.png">
				<img id="iconos_blancos" src="iconos/habilidades/blancos/{{$index + 1}}-blanco.png">
				<h5>{{habilidad.Nombre}}</h5>
			</div>
		</div>
		</a>
	</div>
	<div class="col-md-9"><h1 class="titulo titulo_principal">HABILIDADES</h1></div>
</section>

<section class="modulos_sections modulo_usuario" ng-show="divBuscarActividad">
  <div class="row actividades_puntajes" align="center" ng-show="divBuscarActividad">
    <div ng-repeat="actividad in listaActividadesChunck">
      <input type="submit" class="col-md-2 actividades" style="white-space:normal;" value="{{actividad.Titulo}}" ng-click="seleccionar_actividad(actividad)">
    </div> 
  </div>
  <div class="row" align="center" ng-show="divResultado">
  		<div class="row" align="center" ng-show="false">
  			<h3 class="titulo titulo_principal">Grabaciones
  			<button type="button" class="btn btn-primary addCategoria" ng-click="guardar_audio()"><i class="fa fa-plus-square fa-lg" aria-hidden="true" ng-click="guardar_audio"></i></button></h3>
  		</div>
      <div ng-repeat="audio in listaAudios">
  		<div class="row" align="center">
        <div class="col-md-4" align="right">
        	<audio controls="controls" preload="none">
            <source src="{{audio.nombreArchivo}}" type="audio/wav">
          </audio>
        </div>
        <div class="col-md-1">
          <div ng-if="audio.calificacion[0] == undefined && divEspecialista == true">
        	<button type="button" class="btn_calificar" ng-click="seleccionar_audio(audio)" data-toggle="modal" data-target="#Modal_Calificar">Calificar</button></h3>
          </div>
        </div>
        <div class="col-md-3" align="center">
          <div class="progress" style="margin-top:8px">
            <div ng-if="audio.calificacion[0].valoracion <= 33">
              <div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="audio.calificacion[0].valoracion" aria-valuemin="0" aria-valuemax="100" style="width:{{audio.calificacion[0].valoracion}}%">{{audio.calificacion[0].valoracion}}</div>
            </div>
            <div ng-if="audio.calificacion[0].valoracion > 33 && audio.calificacion[0].valoracion <= 66">
              <div class="progress-bar progress-bar-warning active" role="progressbar" aria-valuenow="audio.calificacion[0].valoracion" aria-valuemin="0" aria-valuemax="100" style="width:{{audio.calificacion[0].valoracion}}%">{{audio.calificacion[0].valoracion}}</div>
            </div>
            <div ng-if="audio.calificacion[0].valoracion > 66 && audio.calificacion[0].valoracion <= 100">
              <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="audio.calificacion[0].valoracion" aria-valuemin="0" aria-valuemax="100" style="width:{{audio.calificacion[0].valoracion}}%">{{audio.calificacion[0].valoracion}}</div>
            </div>
          </div> 
        </div>
        <div class="col-md-3" align="left">
          <p>Fecha:  {{audio.calificacion[audio.calificacion.length-1].fecha | date:"MM/dd/yyyy '-' h:mma"}}<br>
          Especialista:  {{audio.calificacion[audio.calificacion.length-1].nombreEspecialista}}</p>
        </div>
        <div class="col-md-1" ng-click="divComentarios = !divComentarios">
          <div ng-if="divEspecialista == true">
            <button type="button" class="btn_calificar">Comentarios</button></h3>
          </div>
        </div>
      </div>
      <div class="row" align="center" ng-hide="divComentarios">
        <div class="row" align="center">
          <h4 class="titulo titulo_principal">Agregar Comentario
          <button type="button" class="btn btn-primary addCategoria" ng-click="seleccionar_audio(audio)" data-toggle="modal" data-target="#Modal_Comentarios"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button></h4>
        </div>
        <div class="lineadetiempo">
          <div class="row comentario" ng-repeat="comentario in audio.comentarios">
            <div class="col-md-5 fecha">
              <span class="cd-date">{{comentario.fecha | date:"MM/dd/yyyy '-' h:mma"}}</span>
            </div>
            <div class="col-md-1  lineadetiempo_img">
              <img src="img/cd-icon-location.svg" alt="Picture">
            </div> 
            <div class="col-md-6  lineadetiempo_contenido">
              <h2>{{comentario.nombreEspecialista}}</h2>
              <p>{{comentario.texto}}</p>
            </div>       
          </div>
        </div>
        <div class="row" align="center"><p>       </p></div>
      </div>
      </div>
  </div>
</section>

<!--Modal de consulta-->
<div class="modal fade" id="Modal_Usuario" role="dialog" align="left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;padding:0;" class="modal-title titulo">Busca un Usuario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="get_usuario()">
                <div class="form-group">
                  <label for="profesor">Identificación</label>
                  <input name="titulo"  ng-model="identificacion" type="number" class="form-control" id="titulo" placeholder="Número de identificación" required>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Consultar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de calificar-->
<div class="modal fade" id="Modal_Calificar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title titulo">Califica la grabación</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="calificar_audio()">
                <div class="form-group">
                  <label for="profesor">Calificación</label>
                  <input type="number" min="0" max="100" data-provide="slider" data-slider-id='blue' data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" ng-model="calificacion"/>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Close</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Calificar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<!--Modal de comentarios-->
<div class="modal fade" id="Modal_Comentarios" role="dialog" align="left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="color:navy;padding:0;" class="modal-title titulo">Agrega un comentario</h2>
        </div>
        <div class="modal-body">
            <form ng-submit="comentar_audio()">
                <div class="form-group">
                  <label for="profesor">Comentario</label>
                  <textarea name="titulo" ng-model="comentario" type="text" class="form-control" id="titulo" placeholder="Comentario" style="height: 100px;" required> </textarea>
                </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" align="center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;">Cancelar</button>
                    </div>
                    <div class="col-md-9" align="center">
                        <button type="submit" class="btn btn-success" style="width:100%;">Agregar</button>
                    </div>
                </div>
            </div>    
        </div>
        </form>  
      </div>
    </div>
  </div>
</div>

</section>