<!--Seccion de informacion-->
<div ng-controller="auditoriaCtrl" ng-hide="ocultar" class="ng-hide">
<section class="modulos_sections modulo_sesiones" align="center">
<h1 class="titulo" style="margin:40px 0;font-size:43px;">Auditoría</h1>
  <div class="divTabla"> 
    <div class="tabla_usuarios">
      <div class="row nombre_columnas">
          <div class="col-md-2" align="center">Nombre Tabla</div>
          <div class="col-md-1" align="center">Tipo</div>
          <div class="col-md-1" align="center">Campo</div>
          <div class="col-md-2" align="center">Valor cambio</div>
          <div class="col-md-2" align="center">Cliente cambio</div>
          <div class="col-md-2" align="center">Usuario</div>
          <div class="col-md-2" align="center">Fecha</div>
      </div>
      <div  ng-repeat="auditoria in auditorias">
      <div class="row fila_usuarios fila_usuarios_sesiones"> 
          <div class="col-md-2" align="center" style="padding-left: 15px;">{{auditoria.tabla}}</div>
          <div class="col-md-1" align="center">{{auditoria.cambio}}</div>
          <div class="col-md-1" align="center">{{auditoria.campo}}</div>
          <div class="col-md-2" align="center">{{auditoria.valor}}</div>
          <div class="col-md-2" align="center">{{auditoria.cliente}}</div>
          <div class="col-md-2" align="center">{{auditoria.usuario}}</div> 
          <div class="col-md-2" align="center">{{auditoria.fecha  | date:"MM/dd/yyyy ' ' h:mma"}}</div>
      </div> 
      </div>
    </div>
  </div> 
</section>
</div>