<!DOCTYPE html>
<html ng-app="MainApp" lang="es">
    <head>
        <!--includes JavaScripts -->
        {% include 'scripts.html' %}    
        <!--includes Style -->
        {% include 'links.html' %}
        
    </head>
    <body class="skin-blue" >
        <!-- html fragments -->
        {% block content %}

        {% endblock %}
        
    </body>
</html>
