<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/AdminLTE/app.js" type="text/javascript"></script>

<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.js"></script>

<script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/vendor/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/vendor/angular-toastr/dist/angular-toastr.js"></script>
<script type="text/javascript" src="/vendor/lodash/lodash.js"></script>
<script type="text/javascript" src="/vendor/async/lib/async.js"></script>

<script type="text/javascript" src="js/plugins/angular-datatables.min.js"></script>
<script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/vendor/angular-filter-master/dist/angular-filter.min.js"></script>

<!-- A-CONFIRM -->
<script type="text/javascript" src="/vendor/angular-confirm/js/angular-confirm.js"></script>

<!-- Graficos de datos -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
<script type="text/javascript" src="/js/plugins/tc-angular-chartjs-2.1.3/dist/tc-angular-chartjs.js"></script>

<!-- añadidos -->
<script type="text/javascript" src="/js/plugins/monthly.js"></script>
<script type="text/javascript" src="/js/plugins/circle-progress.js"></script>
<script type="text/javascript" src="js/plugins/timepicki.js"></script>
<script type="text/javascript" src="js/plugins/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="/js/plugins/ngDraggable.js"></script>
<script src="https://rawgit.com/fatlinesofcode/ngDraggable/master/ngDraggable.js"></script>
<script type="text/javascript" src="/js/plugins/ng-csv/build/ng-csv.min.js"></script>
<script type="text/javascript" src="/js/plugins/angular-sanitize/angular-sanitize.min.js"></script>

<!--App Angular-->
<script type="text/javascript" src="/app/app.js"></script>

<!--Controllers Angular-->
<script type="text/javascript" src="/app/index/controllers/indexCtrl.js"></script>
<script type="text/javascript" src="/app/sign/controllers/registroCtrl.js"></script>
<script type="text/javascript" src="/app/sign/controllers/loginCtrl.js"></script>
<script type="text/javascript" src="/app/dashboard/controllers/dashboardCtrl.js"></script>
<script type="text/javascript" src="/app/actividades/controllers/actividadesCtrl.js"></script>
<script type="text/javascript" src="/app/puntajes/controllers/puntajesCtrl.js"></script>
<script type="text/javascript" src="/app/sesiones/controllers/sesionesCtrl.js"></script>
<script type="text/javascript" src="/app/competencias/controllers/competenciasCtrl.js"></script>
<script type="text/javascript" src="/app/historia_medica/controllers/historiasMedicasCtrl.js"></script>
<script type="text/javascript" src="/app/usuarios/controllers/usuariosCtrl.js"></script>
<script type="text/javascript" src="/app/acudientes/controllers/acudientesCtrl.js"></script>
<script type="text/javascript" src="/app/parametros_registro/controllers/parametros_registroCtrl.js"></script>
<script type="text/javascript" src="/app/audios/controllers/audiosCtrl.js"></script>
<script type="text/javascript" src="/app/evaluacion/controllers/evaluacionCtrl.js"></script>
<script type="text/javascript" src="/app/alertas/controllers/alertasCtrl.js"></script>
<script type="text/javascript" src="/app/avances/controllers/avancesCtrl.js"></script>
<script type="text/javascript" src="/app/auditoria/controllers/auditoriaCtrl.js"></script>

<!--Services Angular-->
<script type="text/javascript" src="/app/services/toastr.js"></script>
<script type="text/javascript" src="/app/services/session.js"></script>
<script type="text/javascript" src="/app/services/enlaces.js"></script>
<script type="text/javascript" src="/app/services/puntajes.js"></script>
<script type="text/javascript" src="/app/services/etiquetas.js"></script>
<script type="text/javascript" src="/app/services/evaluaciones.js"></script>
<script type="text/javascript" src="/app/services/sesiones.js"></script>
<script type="text/javascript" src="/app/services/competencias.js"></script>
<script type="text/javascript" src="/app/services/habilidades.js"></script>
<script type="text/javascript" src="/app/services/historiasMedicas.js"></script>
<script type="text/javascript" src="/app/services/usuarios.js"></script>
<script type="text/javascript" src="/app/services/comentariosHistoria.js"></script>
<script type="text/javascript" src="/app/services/ayudas_auditivas.js"></script>
<script type="text/javascript" src="/app/services/mensajes.js"></script>
<script type="text/javascript" src="/app/services/rehabilitaciones.js"></script>
<script type="text/javascript" src="/app/services/niveles_educativos.js"></script>
<script type="text/javascript" src="/app/services/identificaciones.js"></script>
<script type="text/javascript" src="/app/services/organizaciones.js"></script>
<script type="text/javascript" src="/app/services/audios.js"></script>
<script type="text/javascript" src="/app/services/alertas.js"></script>
<script type="text/javascript" src="/app/services/avances.js"></script>
<script type="text/javascript" src="/app/services/auditoria.js"></script>

